{% extends "./email_layout.html" %}

{% block email %}
<table class="row"><tbody><tr>
    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <p class="text text-left">
                    Dear {{ user }},
                  </p>
                  <p class="text text-left">
                    This is to inform you that your registration has been completed, you can now start hooking up with your kliq. Have fun and enjoy!
                  </p>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
            
              <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <table class="spacer"><tbody><tr><td height="20px" style="font-size:20px;line-height:20px;">&#xA0;</td></tr></tbody></table> 
                  <center data-parsed="">
                    <table class="button rounded small float-center"><tr><td><table><tr><td><a href="{{ url_for('nearby', _external=True) }}">Check Out People Close By</a></td></tr></table></td></tr></table>
                  </center>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
{% endblock %}
            
