{% extends "./email_layout.html" %}
{% block email %}
              <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <p class="title text-center caption">Whaoo! Checkout who just liked your picture.</p>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
            
              <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <center data-parsed="">
                    <p class="rounded float-center" align="center">
                      <img src="{{ sender.get_avatar() }}" alt="">
                    </p>
                  </center>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
            
              <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <p class="title text-center">{{ sender }} just liked your profile</p>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
            
              <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <table class="spacer"><tbody><tr><td height="20px" style="font-size:20px;line-height:20px;">&#xA0;</td></tr></tbody></table> 
                  <center data-parsed="">
                    <table class="button rounded small float-center"><tr><td><table><tr><td><a href="{{ url_for('user_details', userid=sender.urid, _external=True) }}">Check Out {{ sender.gender_pronoun }} Profile</a></td></tr></table></td></tr></table>
                  </center>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
            
{% endblock %}