{% extends "./email_layout.html" %}
{% block email %}
              <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <p class="text text-left">
                    Dear {{ current_user }},
                  </p>
                  <p class="text text-left">
                    A password reset request has been received from your account. To reset your password, click on the button below.
                  </p>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
            
              <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <table class="spacer"><tbody><tr><td height="20px" style="font-size:20px;line-height:20px;">&#xA0;</td></tr></tbody></table> 
                  <center data-parsed="">
                    <table class="button rounded small float-center"><tr><td><table><tr><td><a href="#">Reset Your Password</a></td></tr></table></td></tr></table>
                  </center>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
 {% endblock %}