@import "variable";
.chat-window button:focus {
	-webkit-tap-highlight-color: rgba(255,255,255,0);
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

.chat-window {
	width: 310px;
	margin: 0 auto;
	overflow: hidden;
	border: 0px solid #36383a;
	border-width: 50px 15px;
	color: #474c57;
	border-radius: 20px;
	font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media screen and (max-width:380px) {
	.chat-window {
		border: none;
		border-radius: 0px;
	}
}

.chat-window a {
	color: #eab1c6;
}

.chat-window a:hover,
.chat-window a:focus {
	color: #C7668A;
}

.chat-messages {
	/*height: 460px;*/
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	position: fixed;
	border-radius: 2px 2px 0 0;
	background: #efefef;
    height: 85%!important;
}

.chat-messages-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	padding: 15px 10px 60px;
}

.chat-message {
	position: relative;
	font-size: 0;
	margin-bottom: 10px;
}

.chat-message-effect {
	position: absolute;
}

.chat-message-bubble {
	display: inline-block;
	font-size: 14px;
	max-width: 350px;
	background: #fff;
	padding: 8px 14px;
	border-radius: 18px;
	min-width: 0;
    box-shadow: 0 1px .5px rgba(0,0,0,.13);
}

.chat-message-self.chat-message-merge-start .chat-message-bubble {
	border-bottom-right-radius: 0;
}

.chat-message-self.chat-message-merge-middle .chat-message-bubble {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.chat-message-self.chat-message-merge-end .chat-message-bubble {
	border-top-right-radius: 0;
}

.chat-message-self {
	text-align: right;
}

.chat-message-self .chat-message-bubble,
.chat-message-effect .chat-message-bubble { 
	background: #01c2d4;
	color: #fff;
	text-align: left;
    overflow: hidden;
}

.chat-input-bar {
	position: fixed;
    background: #32A8E6;
    width: 100%;
    bottom: 0;
}

.chat-input-wrapper {
	position: relative;
	z-index: 2;
	/*background: #32A8E6;*/
	padding: 0.5em 0;
	border-radius: 0 0 2px 2px;
	color: #fff;
}

.chat-input-wrapper,
.chat-send {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	font-size: 16px;
    background-color: #fff;
}

.chat-input-wrapper{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
    max-height: 7em;
<<<<<<< HEAD
=======
    position: relative;
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
}

.chat-input-tool {
	background: transparent;
	border: none;
	padding: 0 0.75em;
    font-size: 20px;
    color: #93918F;
}

<<<<<<< HEAD
.chat-input {
=======
.chat-input, .emoji-wysiwyg-editor {
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
	outline: none;
	resize: none;
	overflow: hidden;
	min-height: 38px;
	-webkit-flex: 1;
	flex: 1;
	font-size: 14px;
	padding: 10px 0 7px;
	cursor: text;
    color: #93918F;
    overflow: auto;
}

<<<<<<< HEAD
.chat-input:empty::before {
=======
.emoji-wysiwyg-editor{
	border: none!important;
    background: #fbfbfb;
    padding: 10px 5px;
}

.chat-input:empty::before, .emoji-wysiwyg-editor:empty::before {
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
	content: "Write something...";
	color: #93918F;
}

.chat-input:focus::before {
	content: "";
}

.chat-send {
	background: transparent;
	border: none;
	position: relative;
	overflow: hidden;
	padding: 0 0.75em;
	color: inherit;
	-webkit-transition: color 0.6s;
	transition: color 0.6s;
}

.chat-input:empty + .chat-send {
	color: #2B8EC2;
}

.chat-send>i {
	position: relative;
    color: #93918F;
}

.chat-effect-container {
	position: absolute;
	top: -100px;
	width: 100%;
}

.chat-effect-bar {
	background: #32a8e6;
	position: absolute;
	top: 100px;
	width: 100%;
	height: 40px;
	-webkit-transform: rotateY(0);
	transform: rotateY(0);
}

.chat-effect-dots {
	position: absolute;
}

.chat-effect-dot {
	background: #32a8e6;
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 100%;
}

.chat-info-container {
	position: absolute;
	top: -20px;
	font-size: 12px;
	color: #2B8EC2;
}

.chat-info-typing {
	position: absolute;
	left: 80px;
	white-space: nowrap;
}
<<<<<<< HEAD
=======
.emoji-menu{
	top: -14.3em!important;
    left: 0px!important;
    margin-left: 0px!important;
    width: 100%!important;;
}
.emoji-menu > div{
	width: 100%!important;
}
.emoji-menu a{
	margin: 2px 3px 0 -1px!important;
    border: none!important;
}
.emoji-menu .group-selector a{
	width: 19% !important;
}
.emoji-menu .group-selector{
	border-bottom: 1px solid #efefef!important;
	background-color: rgba(255,255,255, 1)!important;
}
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
