.main_links{
    float:left;
    border-right: 1px solid grey;
    margin-right: 20px;
    padding-right: 10px;
    display: inline;
}

.main_body{

}

.profile_image {
    float: left;
    display: inline;
    color: blue;
    margin-right: 10px;
    line-height: 25px;
}

.image_holder {
    min-height: 150px;
    min-width: 150px;
    border: 1px solid gray;
    margin-bottom: 5px;
}

.profile_body {
    margin-right: 10px;
}