@import "variable";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: @font-family;
}

header{
  height: 4em;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  background: transparent;
  border-color: rgba(0,0,0,0.14);
  border-bottom: 1px solid transparent;
  color: rgba(0,0,0,0.54);
  fill: rgba(0,0,0,0.54);
  text-align: center;
  &.transparent{
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }
  .logo {
  display: inline-block;
  line-height: 55px;
  font-size: 36px;
  color: @bodyBg;
    a{
      color: @bodyBg;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .openNav {
    transition-duration: 0.5s;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 3px;
    left: 4px;
    z-index: 9;
    text-align: center;
    font-size: 30px;
    padding-top: 7px;
    color: @bodyBg;
    &.white{
      color: @bodyBg;
    }
  }
  .back {
    transition-duration: 0.5s;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 3px;
    left: 0;
    z-index: 9;
    text-align: center;
    font-size: 30px;
    padding-top: 7px;
    color: @headerBtnColor;
  }
  .message {
    transition-duration: 0.5s;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 3px;
    right: 5px;
    z-index: 9;
    text-align: center;
    font-size: 21px;
    padding-top: 13px;
    color: @bodyBg;
    &.white{
      color: @bodyBg;
    }
    .bubble{
      border: 1px solid #F95759;
      position: absolute;
      width: 19px;
      height: 19px;
      border-radius: 50%;
      font-size: 13px;
      right: 1px;
      text-align: center;
      top: 8px;
      color: @bodyBg;
      line-height: 16px;
      background: #F95759;
      display: block;
    }
  }
  .openNav:hover {
    cursor: pointer;
  }
  .openNav .icon {
    transition-duration: 0.2s;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: white;
    top: 24px;
    left: 10px;
  }
}

//styles to overight chrome autofill styling on forms
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
