* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Source_Sans_Pro, roboto, WorkSans, "Helvetica Neue", Helvetica, Arial, sans-serif!important;
  position: relative;
}
a:hover{
  text-decoration: none;
}
.theBody{
  position: relative;
}
.theBody .overlay-content{
  // position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px 25px;
  color: #ffffff;
}
.theBody .overlay-content .et-wrapper{
  height: 45em;
}
.theBody .overlay-content .et-wrapper .logo-wrap{
  text-align: center;
  position: relative;
  margin-top: 5em;
}
.theBody .overlay-content .et-wrapper .logo-wrap img{
  width: 50%;
}
.theBody .overlay-content .et-wrapper .logo-wrap .logo-text{
  color: #ffffff;
  font-weight: 600;
  margin-top: -33px;
  font-size: 20px;
}
.theBody .overlay-content .et-wrapper .big-caption{
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 30px;
  margin-top: 40px;
}
.theBody .overlay-content .et-wrapper .small-caption{
  font-weight: 500;
  text-align: center;
  padding-top: 10px;
}
.theBody .overlay-content .et-wrapper .social-btn-wrap{
  
}
.theBody .overlay-content .et-wrapper .social-btn-wrap .get-started{
  width: 100%;
  margin-top: 2em;
  background-color: #5bb75b;
  color: #fff;
  border: none;
  padding: 13px 0;
  font-weight: bold;
  border-radius: 0;
  font-size: 18px;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
}
.theBody .overlay-content .et-wrapper .have-account{
  position: relative;
  color: #ffffff;
  margin-top: 3em;
}
.theBody .overlay-content .et-wrapper .have-account .text{
  float: left;
  width: 70%;
  padding-top: 7px;
}
.theBody .overlay-content .et-wrapper .have-account .button{
  position: relative;
  float: right;
  width: 30%;
  color: #ffffff;
  border: 1px solid #ffffff;
  text-align: center;
  padding: 7px 0
}
.theBody .overlay-content .et-wrapper .have-account .button .arrow{
  position: absolute;
}
.loading-animation{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fbfbfb;
  z-index: 999;
  text-align: center;
}
.loading-landing-animation{
  width: 100%;
  height: 100%;
  position: fixed;
  background: #fbfbfb;
  z-index: 999;
  text-align: center;
}
.theBody .loading-landing-animation .logo-wrap{
  text-align: center;
  position: relative;
  margin-top: 5em;
}
.theBody .loading-landing-animation .logo-wrap img{
  width: 50%;
}
.theBody .loading-landing-animation .logo-wrap .logo-text{
  color: #666;
  font-weight: 600;
  margin-top: -33px;
  font-size: 20px;
}
.hide{
  display: none;!important;
}
header {
  height: 4em;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  background: #ffffff;
  border-color: rgba(0, 0, 0, 0.14);
  color: rgba(0, 0, 0, 0.54);
  fill: rgba(0, 0, 0, 0.54);
  text-align: center;
  -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1);
  -webkit-transition: background .2s,color .2s;
  transition: background .2s,color .2s;
}
.header-height{
  margin-top: 4em;
}
header.transparent {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
header .logo {
  display: inline-block;
  line-height: 55px;
  font-size: 36px;
  color: #ffffff;
}
header .logo a {
  color: #333844;
}
header .logo a:hover {
  text-decoration: none;
}
header .openNav {
  transition-duration: 0.5s;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 3px;
  left: 4px;
  z-index: 9;
  text-align: center;
  font-size: 30px;
  padding-top: 7px;
  color: #333844;
}
header .openNav.white {
  color: #ffffff;
}
header .name-wrap{
  position: absolute;
  left: 25%;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
<<<<<<< HEAD
=======
header .name-wrap .page-name{
  display: block;
  line-height: 2em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  padding-top: 15px;
  font-size: 16px;
}
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
header .name-wrap .name{
  display: block;
  line-height: 1em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  padding-top: 15px;
  font-size: 16px;
}
header .name-wrap .status{
  display: block;
  line-height: 1em;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
  padding-top: 5px;
}
header .back {
  transition-duration: 0.5s;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 3px;
  left: 0;
  z-index: 9;
  text-align: center;
  font-size: 30px;
  padding-top: 7px;
  color: #333;
}
header .message {
  transition-duration: 0.5s;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 3px;
  right: 5px;
  z-index: 9;
  text-align: center;
  font-size: 21px;
  padding-top: 13px;
  color: #333;
}
header .message.white {
  color: #ffffff;
}
header .message .bubble {
  border: 1px solid #F95759;
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 13px;
  right: 1px;
  text-align: center;
  top: 8px;
  color: #ffffff;
  line-height: 16px;
  background: #F95759;
  display: block;
}
header .openNav:hover {
  cursor: pointer;
}
header .openNav .icon {
  transition-duration: 0.2s;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
  top: 24px;
  left: 10px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
.flashes{
  width: 100%;
  position: absolute;
  z-index: 10000;
  color: #fff;
  margin: 0;
  padding: 0;
  top: 15px;
}
.flashes li{
  width: 85%;
  margin: auto;
  display: block;
  padding: 5px 10px;
  border: 1px solid #efefef;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin-bottom: 10px;
  background-color: #efefef;
  color: #444;
}
.flashes li span.icon{
  display: inline-block;
  float: left;
  width: 20%;
  font-size: 50px;
  color: #ED3B53;
}
.flashes li span.icon .fa-times-circle{
  color: #ED3B53;
}
.flashes li span.icon .fa-check-circle{
  color: #5bb75b;
}
.flashes li span.message{
  display: inline-block;
  float: right;
  width: 80%;
  line-height: 18px;
  padding: 16px 0;
}







.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  position: absolute;
  left: 42%;
  top: 26%;
}

.spinner.landing {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;

  position: absolute;
  left: 42%;
  top: 40%;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;

  background: #01C2D4;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.social-sign-up{
  margin-top: 5em;
}
.social-sign-up .social-btn{
  display: block;
  width: 100%;
  border-radius: 4px;
  margin: auto;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.social-sign-up .icon{
  float: left;
  width: 15%;
  font-size: 27px;
  padding: 10px 6px;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.1);
}
.social-sign-up .text{
  float: right;
  width: 85%;
  font-size: 16px;
  padding: 14px 24px 10px 0px;
  text-align: center;
  font-weight: 700;
}

.social-sign-up .facebook-color{
  background: #3B5998;
  color: #ffffff; 
}
.social-sign-up .google-color{
  background: #DF4A32;
  color: #ffffff;
}
.material-form-wrap{
  position: relative;
  margin-top: 3em;
}
.material-form-wrap .form-group {
    display: flex;
    height: 55px;
}

.material-form-wrap .forgot-password a{
  color: #ffffff;
}

.material-form-wrap .control-label {
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    color: #fff;
    font-weight: 700;
}

.material-form-wrap .form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}

.material-form-wrap .form-control {
    align-self: flex-end;
    border-top: none;
    border-bottom: 1px solid #fff;
    border-left: none;
    border-right: none;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}

.material-form-wrap .form-control:focus {
  outline: none;
  box-shadow: none;
}

.material-form-wrap .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.material-form-wrap .form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.material-form-wrap .form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}


.signUp{
  background: #fbfbfb;
}



















body{
  font: 14px "Open Sans", serif; background-color: #fdfdfd;
   float: left;
   height: 100%;
   position: relative;
   width: 100%;
   background-color: #e3e3e4;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

:focus{
  outline: none;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
h1{
 font-size: 24px;
 font-weight: 600;
 margin: 20px 0 10px;
 text-align: center;
}
.container{
}

/*= wizard css =*/
.payment-wizard{
 float: left;
 width: 100%;
}
.payment-wizard li.active{
 position: relative;
 z-index: 1;
}
.wizard-heading{
 float: left;
 width: 100%;
 padding: 15px 15px;
 background-color: #fbfbfb;
 margin-bottom: 1px;
 box-sizing: border-box;
 font-size: 15px;
 font-weight: 600;
 color: #01C2D4;
 text-transform: uppercase;
 transition: 0.3s;
}
.wizard-content{
 display: none;
 float: left;
 width: 100%;
 background-color: #fbfbfb;
 box-shadow: 0 8px 8px #d2d2d2;
 padding: 15px;
 box-sizing: border-box;
}
li:first-child .wizard-content{
  display: block;
}
li:last-child .wizard-content{
  box-shadow: none;
}
.wizard-content p{
 margin-bottom: 15px;
 font-size: 15px;
 line-height: 26px;
 color: #4c4c4c;
}

.wizard-heading span{
float: right;
 // background-image: url(wizard-icons.png);
 background-repeat: no-repeat;
 font-size: 19px;
 margin-top: 0;
 font-weight: bold;
 color: #ED3B53
}
.icon-user{
 width: 20px;
 height: 18px;
 background-position: 0 -40px; margin-top: 4px;
}
.icon-location{
 width: 15px;
 height: 20px;
 background-position: -22px -42px;
 margin-top: 4px;
}
.icon-summary{
 width: 20px;
 height: 20px;
 background-position: -39px -42px;
 margin-top: 4px;}
.icon-mode{
 width: 20px;
 height: 16px;
 background-position: -61px -34px;
 margin-top: 6px;
}
.active .wizard-heading{
  background-color: #01C2D4; 
  color: #fff; 
  margin-bottom: 0;
}
.active .wizard-heading i{
  color: #ffffff!important;
}
.completed .wizard-heading{
  color: #447294; 
  position: relative; 
  padding: 20px 15px 20px 36px;
  cursor: pointer;
  transition: 0.3s;
}
.completed .wizard-heading:before{
    content: "✓";
    color: green;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    left: 5px;
    top: 16px;
    width: 32px;
    padding: 4px 0;
    z-index: 99;
}
.completed .wizard-heading:after{
  content: ""; 
position: absolute; 
top: 38px; 
left: -7px;
 border-left: 7px solid transparent;
 border-top: 5px solid #001e34;
}

/*= wizard end =*/



.wizard-content label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: left;
}
.wizard-content label .label-text {
  color: #333;
  cursor: text;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -webkit-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
  font-weight: 500;
}
.wizard-content label input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #777;
  color: #333;
  font-size: 18px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 0px;
  text-align: left;
  transition: all 0.3s;
  width: 100%;
  font-weight: 500;
}
.wizard-content label input:focus {
  max-width: 100%;
  width: 100%;
  border-color: #01C2D4;
}
.wizard-content label input:focus + .label-text {
  color: #01C2D4;
  font-size: 13px;
  -moz-transform: translateY(-57px);
  -ms-transform: translateY(-57px);
  -webkit-transform: translateY(-57px);
  transform: translateY(-57px);
}
.wizard-content label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-57px);
  -ms-transform: translateY(-57px);
  -webkit-transform: translateY(-57px);
  transform: translateY(-57px);
  color: #01C2D4;
}

.wizard-content label select {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #777;
  color: #333;
  font-size: 18px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 0px;
  text-align: left;
  transition: all 0.3s;
  width: 100%;
  font-weight: 500;
}
.wizard-content label select:focus {
  max-width: 100%;
  width: 100%;
  border-color: #4A4A4A;
}
.wizard-content label select:focus + .label-text {
  color: #333;
  font-size: 13px;
  -moz-transform: translateY(-68px);
  -ms-transform: translateY(-68px);
  -webkit-transform: translateY(-68px);
  transform: translateY(-68px);
}
.wizard-content label select:valid + .label-text {
  font-size: 15px;
  -moz-transform: translateY(-68px);
  -ms-transform: translateY(-68px);
  -webkit-transform: translateY(-68px);
  transform: translateY(-68px);
  color: #333;
}
.wizard-content .next-btn{
  display: inline-block;
  float: right;
  padding: 5px 25px;
  border-radius: 3px;
  background-color: #2e6da4;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.wizard-content .next-btn.submit{
  position: relative;
  overflow: hidden;
  float: none;
  width: 100%;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  background-color: #5bb75b;
}