
.login-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  background-color: #2E507D;
  top: 0;
}
.login-wrap .caption {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  padding: 0 20px;
  margin-top: 2em;
}
.login-wrap .form-wrap {
  padding: 20px;
  margin-top: 4em;
}
.login-wrap .form-wrap input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  color: #ffffff;
  height: 3em;
  margin-bottom: 1.5em;
  font-weight: 600;
}
.login-wrap .form-wrap input:focus {
  outline: none;
}
.login-wrap .form-wrap input.password {
  margin-bottom: 0.5em;
}
.login-wrap .form-wrap ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */

  color: #ffffff;
}
.login-wrap .form-wrap ::-moz-placeholder {
  /* Firefox 19+ */

  color: #ffffff;
}
.login-wrap .form-wrap :-ms-input-placeholder {
  /* IE 10+ */

  color: #ffffff;
}
.login-wrap .form-wrap :-moz-placeholder {
  /* Firefox 18- */

  color: #ffffff;
}
.login-wrap .alternative-login {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  height: auto;
}
.login-wrap .alternative-login .facebook {
  float: left;
  width: 50%;
  height: 3.5em;
  background-color: #3B5998;
  color: #ffffff;
  display: block;
  line-height: 3.5em;
  font-weight: 600;
  text-decoration: none;
}
.login-wrap .alternative-login .facebook:hover {
  text-decoration: none;
}
.login-wrap .alternative-login .google {
  float: right;
  width: 50%;
  height: 3.5em;
  background-color: #DD4C3B;
  color: #ffffff;
  display: block;
  line-height: 3.5em;
  font-weight: 600;
  text-decoration: none;
}
.login-wrap .alternative-login .google:hover {
  text-decoration: none;
}
.login-wrap .password-reset {
  float: right;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}
.login-wrap .signup-link {
  padding-top: 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
}
.login-wrap .signup-link a {
  color: #ffffff;
}
.login-wrap button {
  background: transparent;
  color: #ffffff;
  display: block;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 0.8em 0;
  border-radius: 2px;
  font-weight: 600;
  margin-top: 3em;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.login-wrap button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.login-wrap button:focus {
  outline: none;
}
.signup-wrap {
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  background-color: #2E507D;
  top: 0;
  overflow: auto;
  margin-top: -4em;
}
.signup-wrap .caption {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  padding: 0 20px;
  margin-top: 10px;
}
.signup-wrap .form-wrap {
  padding: 20px;
}
.signup-wrap .form-wrap input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  color: #ffffff;
  height: 3em;
  margin-bottom: 1em;
  font-weight: 600;
}
.signup-wrap .form-wrap input:focus {
  outline: none;
}
.signup-wrap .form-wrap input.password {
  margin-bottom: 0.5em;
}
.signup-wrap .form-wrap ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */

  color: #ffffff;
}
.signup-wrap .form-wrap ::-moz-placeholder {
  /* Firefox 19+ */

  color: #ffffff;
}
.signup-wrap .form-wrap :-ms-input-placeholder {
  /* IE 10+ */

  color: #ffffff;
}
.signup-wrap .form-wrap :-moz-placeholder {
  /* Firefox 18- */

  color: #ffffff;
}
.signup-wrap .radio-btn {
  text-align: left;
}
.signup-wrap .radio-btn .title {
  display: block;
  color: #ffffff;
  padding: 10px 0;
  font-weight: 600;
}
.signup-wrap .radio-btn .input-wrap {
  display: inline-block;
  width: 50%;
}
.signup-wrap .radio-btn .input-wrap span {
  display: inline-block;
  color: #ffffff;
  padding-left: 20px;
  font-weight: 600;
}
.signup-wrap .radio-btn .input-wrap:first-child {
  float: left;
}
.signup-wrap .radio-btn .input-wrap:last-child {
  float: right;
}
.signup-wrap .radio-btn .input-wrap input {
  display: inline-block;
  color: #ffffff;
}
.signup-wrap .signup-link {
  padding-top: 8px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
}
.signup-wrap .signup-link a {
  color: #ffffff;
}
.signup-wrap button {
  background: transparent;
  color: #ffffff;
  display: block;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.7);
  padding: 0.8em 0;
  border-radius: 2px;
  font-weight: 600;
  margin-top: 2em;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.signup-wrap button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.signup-wrap button:focus {
  outline: none;
}
#index {
  background-color: #ffffff;
  position: relative;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
}
#index .image-preview {
  width: 100%;
  height: 27em;
  // -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
  // sclip-path: polygon(0 0, 100% 0%, 100% 100%, 0 83%);
  position: relative;
  background-color: #efefef;
  overflow: hidden;
}
#index .image-preview .left-btn{
  height: 80px;
  width: 65px;
  border-radius: 0px 90px 90px 0px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 38%;
  left: 0;
  color: #ffffff;
  font-size: 33px;
}
#index .image-preview .left-btn i{
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 10px;
}
#index .image-preview .left-btn:hover, #index .image-preview .left-btn:active{
  color: #5BB75B;
}
#index .image-preview .right-btn{
  height: 80px;
  width: 65px;
  border-radius: 90px 0px 0px 90px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 38%;
  right: 0;
  color: #ffffff;
  font-size: 33px;
  padding: 17px 21px;
}
#index .image-preview .right-btn i{
  display: inline-block;
  position: absolute;
  top: 25px;
  right: 10px;
}
#index .image-preview .right-btn:hover, #index .image-preview .right-btn:active{
  color: #ED3B53;
}
#index .image-preview .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#index .image-preview .item {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 27em;
}
#index .info {
  width: 100%;
  height: 20em;
  background-color: #ffffff;
  position: relative;
}
#index .info-sec {
  width: 100%;
  padding: 10px;
  height: auto;
  line-height: 1;
  color: #555;
}
#index .info-sec .basic-info{

}
#index .info-sec .basic-info .name-wrap{

}
#index .info-sec .basic-info .name-wrap .username{
  display: inline-block;
  width: 90%;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 22px;
  height: 30px;
  font-weight: 600;
}
#index .info-sec .basic-info .name-wrap .action{
  display: inline-block;
  width: 10%;
  float: right;
  text-align: center;
  border: 1px solid rgba(200, 200, 200, 0.4);
  padding: 7px 1px;
  border-radius: 3px;
  color: #999;
}
#index .info-sec .basic-info .info-wrap{
  padding-top: 10px;
}
#index .info-sec .basic-info .info-wrap .age-wrap{
  float: left;
  width: 12%;
  border-right: 1px solid rgba(200, 200, 200, 0.4);
  padding: 10px 5px;
}
#index .info-sec .basic-info .info-wrap .age-wrap .caption{
  display: block;
  font-size: 10px;
  padding-bottom: 5px;
  font-weight: 600;
}
#index .info-sec .basic-info .info-wrap .age-wrap .content{
  display: block;
  font-size: 15px;
}
#index .info-sec .basic-info .info-wrap .age-wrap .content.xtra{
  font-size: 25px;
}
#index .info-sec .basic-info .info-wrap .edu-wrap{
  float: right;
  padding: 10px 5px;
  width: 88%;
}
#index .info-sec .basic-info .info-wrap .edu-wrap .caption{
  display: block;
  font-size: 10px;
  padding-bottom: 12px;
  font-weight: 600;
}
#index .info-sec .basic-info .info-wrap .edu-wrap .content{
  display: block;
  font-size: 15px;
}





#index .info-sec .basic-info .location-wrap{
  border-top: 1px solid rgba(200, 200, 200, 0.4);
}
#index .info-sec .basic-info .location-wrap .profession-wrap{
  float: left;
  width: 60%;
  border-right: 1px solid rgba(200, 200, 200, 0.4);
  padding: 15px 5px;
}
#index .info-sec .basic-info .location-wrap .profession-wrap .caption{
  display: block;
  font-size: 10px;
  padding-bottom: 5px;
  font-weight: 600;
}
#index .info-sec .basic-info .location-wrap .profession-wrap .content{
  display: block;
  font-size: 15px;
}

#index .info-sec .basic-info .location-wrap .loc-wrap{
  float: right;
  padding: 15px 5px;
  width: 40%;
}
#index .info-sec .basic-info .location-wrap .loc-wrap .caption{
  display: block;
  font-size: 10px;
  padding-bottom: 5px;
  font-weight: 600;
}
#index .info-sec .basic-info .location-wrap .loc-wrap .content{
  display: block;
  font-size: 15px;
}








#index .info-sec .age{
  font-size: 20px;
  color: #555;
}
#index .info-sec .name{
  font-size: 20px;
  padding: 10px 0 0 0px;
  line-height: 35px;
  color: #555;
}
#index .info-sec .location{

}
#index .info-sec .location i{
  display: inline-block;
  color: #ED3B53;
  padding-right: 5px;  
}






#index .info-sec .info-section{
  padding: 10px 10px 0px 10px;
}


#index .info-sec .info-section .title-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

#index .info-sec .info-section .title-table tr .icon-wrap{
  width: 7%;
  border-collapse: collapse;
  position: relative;
}

#index .info-sec .info-section .title-table tr .icon-wrap span{
  display: inline-block;
  border: 1px solid #01C2D4;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  position: absolute;
  top: -5px;
  left: -10px;
}

#index .info-sec .info-section .title-table tr .icon-wrap span i{
  display: inline-block;
  color: #01C2D4;
}

#index .info-sec .info-section .title-table tr .title-wrap{
  width: 93%;
  border-collapse: collapse;
  font-size: 17px;
  font-weight: 500;
}

#index .info-sec .info-section .content-table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

#index .info-sec .info-section .content-table tr .border{
  width: 7%;
  border-collapse: collapse;
<<<<<<< HEAD
  border-left: 1px solid #999;
=======
  border-left: 1px solid rgba(200, 200, 200, 0.4);
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
}

#index .info-sec .info-section .content-table tr .content{
  width: 93%;
  border-collapse: collapse;
  position: relative;
}
#index .info-sec .info-section .content-table tr .content > div{
  position: absolute;
  margin-top: -36px!important;
  float: left;
<<<<<<< HEAD
  width: 50%!important;
=======
  // width: 50%!important;
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
}
#index .info-sec .info-section .content-table tr .content .stat-description{
  display: block;
  position: absolute;
  left: 95px;
  top: 0;
  width: 69%;
  height: 60px;
}
#index .info-sec .info-section .content-table tr .content .interest{
  display: inline-block;
<<<<<<< HEAD
  border: 1px solid #666;
=======
  border: 1px solid rgba(200, 200, 200, 0.4);
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
  margin-right: 10px;
  padding: 6px 10px;
  margin-bottom: 10px;
  border-radius: 14px;
  font-size: 11.5px;
  background-color: #fff;
  cursor: pointer;
<<<<<<< HEAD
=======
  box-shadow: 0px 0px 3px rgba(100, 100, 100, 0.1);
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
}
#index .info-sec .info-section .content-table tr .content .interest i{
  display: inline-block;
  padding-right: 5px;
  color: #01C2D4;
}












#index .info-sec .name span:first-child {
  font-size: 25px;
  font-weight: 500;
}
#index .info-sec .name span:last-child {
  font-size: 25px;
  font-weight: 500;
}
#index .info-sec .about-user {
  color: #333333;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 15px;
}

#index .info-sec .location .profile-edit {
  border: 1px solid #999;
  padding: 6px 8px;
  border-radius: 4px;
  color: #333;
  margin-top: 15px;
  font-size: 11px;
}
#index .info-sec .profile-edit i{
  padding: none;
  color: #333;
}
#index .info-sec .section-information .title-section .title{
  font-size: 17px;
  padding-bottom: 10px;
}
#index .info-sec .section-information .title-section i{
  color: #2E507D;
  display: inline-block;
  padding-right: 10px;
  font-size: 17px;
  padding-bottom: 10px;
}

#index .info-sec ul{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#index .info-sec ul li.shots{
  display: inline-block;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 7em;
  height: 6em;
}











#messaging {
}
#messaging .messages {
  padding-bottom: 15px;
}
#messaging .messages a {
  color: inherit;
  text-decoration: none;
}
#messaging .messages a:hover {
  text-decoration: none;
}
#messaging .messages table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid transparent;
}
#messaging .messages table tr td {
  vertical-align: top;
}
#messaging .messages table tr td.thumnail-wrap {
  width: 20%;
  height: auto;
}
#messaging .messages table tr td.thumnail-wrap .thumb {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#messaging .messages table tr td.details {
  width: 80%;
  text-align: left;
  padding-left: 10px;
  border-bottom: 2px solid #f2f2f2;
}
#messaging .messages table tr td.details .name {
  display: block;
  text-align: left;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  font-size: 16px;
}
#messaging .messages table tr td.details  .message-caption{
  width: 224px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 0 0px 0px;
  font-size: 12px;

}
#messaging .messages table tr td.details  .message-caption.unread{
  font-weight: bold;
}
#messaging .messages table tr td.details .status {
  display: block;
  text-align: left;
  font-size: 12px;
  color: #777;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#messaging .no-messages{
  text-align: center;
}
#messaging .no-messages .icon{
  font-size: 80px;
  margin-top: 2em;
  margin-bottom: 10px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: #999;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
#messaging .no-messages .caption{
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: #777;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}
#messaging .no-messages .find{
  display: block;
  width: 90%;
  margin: auto;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #5bb75b;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-top: 6em;
  padding: 12px 0;
  font-weight: 600;
}
#messaging .no-messages .find:hover{
  text-decoration: none;
}
#messaging .chat-tab{
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  border-top: 1px solid #ddd;
  z-index: 1;
}
#messaging .chat-tab .chat-tab-list{
  float: left;
  width: 33.3%;
  margin-bottom: -1px;
  text-align: center;
}
#messaging .chat-tab .chat-tab-list.half{
  width: 50%;
}
#messaging .chat-tab .chat-tab-list.active{
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 2px solid #01C2D4;
}
#messaging .chat-tab .chat-tab-list.active a{
  border: none;
  color: #333!important;
}
#messaging .chat-tab .nav-tabs>li.active>a:hover{
  color: #01C2D4
}
#messaging .chat-tab .chat-tab-link{
  color: #333;
  font-size: 13px;
}
.p-20-10{
  padding: 20px 10px;
}
#messages .message-wrap {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #efefef;
  padding: 10px;
}
#messages .message-wrap p {
  text-align: right;
  display: block;
}
#messages .message-wrap p:nth-child(2n) {
  text-align: left;
}
#messages .form-section {
  width: 100%;
  height: 4em;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
#messages .form-section .emoji {
  float: left;
  width: 15%;
  height: 100%;
  padding: 10px;
  text-align: center;
  font-size: 25px;
  color: #777;
  position: relative;
}
#messages .form-section .emoji i {
  position: absolute;
  left: 41%;
  top: 25%;
}
#messages .form-section .form-wrap {
  float: left;
  width: 70%;
  height: 100%;
  padding: 10px;
}
#messages .form-section .form-wrap textarea {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background: #efefef;
  border: none;
  padding: 0 10px;
  font-size: 13px;
}
#messages .form-section .form-wrap textarea:focus {
  outline: none;
}
#messages .form-section .form-wrap ::-webkit-input-placeholder {
  padding-top: 10px;
}
#messages .form-section .form-wrap :-moz-placeholder {
  /* Firefox 18- */

  padding-top: 10px;
}
#messages .form-section .form-wrap ::-moz-placeholder {
  /* Firefox 19+ */

  padding-top: 10px;
}
#messages .form-section .form-wrap :-ms-input-placeholder {
  padding-top: 10px;
}
#messages .form-section .send button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  background-color: #5bb75b;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 5px;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#messages .form-section .send button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#messages .form-section .send button:focus {
  outline: none;
}
#profile .header-wrap {
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 9px 0 rgba(0, 0, 0, 0.1);
}
#profile .header-wrap .header-section {
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 9em;
}
#profile .header-wrap .edit {
  background-color: #ffffff;
  width: 100%;
  height: 8em;
}
#profile .header-wrap .edit .profile-image {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin: auto;
  left: 70px;
  margin-left: -55px;
  z-index: 1;
  top: 118px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#profile .header-wrap .edit .edit-image {
  display: inline-block;
  text-align: right;
  border: 1px solid #8BBBBB;
  float: right;
  padding: 5px 28px;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #555;
}
#profile .header-wrap .edit .edit-image:hover {
  text-decoration: none;
}
#profile .header-wrap .edit .name {
  float: left;
  margin-top: 3em;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#profile .links {
  width: 100%;
  padding: 10px;
}
#profile .links ul {
  width: 100%;
  height: auto;
}
#profile .links ul li {
  width: 100%;
  margin: 0;
  color: #ffffff;
  display: inline-block;
}
#profile .links ul li a {
  display: block;
  font-size: 14px;
  color: #555;
  padding: 10px;
  text-decoration: none;
}
#profile .links ul li a:hover {
  color: #555;
  text-decoration: none;
}
#profile .links ul li a span {
  display: inline-block;
}
#profile .links ul li a span.icon {
  width: 30px;
  text-align: left;
  font-size: 18px;
  color: #2E507D;
}
#profile .links ul li a span.link-name {
  font-size: 15px;
}
#profile .links ul li a span.count {
  float: right;
  background-color: #ED3B53;
  border: 1px solid #ED3B53;
  padding: 0 4px;
  border-radius: 10px;
  font-weight: 600;
}
#user-detail {
  background-color: #ffffff;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
}
#user-detail .image-preview {
  width: 100%;
  height: 25em;
  position: relative;
  background-color: #efefef;
}
#user-detail .image-preview .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#user-detail .image-preview .item {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
}
#user-detail .content {
}
#user-detail .content .name span {
  display: inline-block;
  padding-top: 5px;
}
#user-detail .content .name span:first-child {
  font-size: 25px;
}
#user-detail .content .name span:last-child {
  font-size: 25px;
  padding-left: 10px;
}
#user-detail .content .location {
  color: #333333;
  font-size: 12px;
  padding-top: 5px;
}
#user-detail .content .navigation-tab{

}
#user-detail .content .navigation-tab .tab-head{
  border-bottom: 1px solid #ddd;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
#user-detail .content .navigation-tab .tab-head li{
  padding: 0;
  // line-height: 4em;
  width: 33.3%;
  text-align: center;
  height: 4em;
  background-color: #2E507D;
  border-radius: 0;
}
#user-detail .content .navigation-tab .tab-head li:hover{
  background-color: #2E507D;
}
#user-detail .content .navigation-tab .tab-head li a{
  width: 100%;
  padding: 0;
  height: 4em;
  // line-height: 4em;
  color: #ffffff;
  border-radius: 0;
}
#user-detail .content .navigation-tab .tab-head li a.tab-link .icon{
  display: block;
  line-height: 1;
  font-size: 20px;
  padding-top: 10px;
}
#user-detail .content .navigation-tab .tab-head li a.tab-link .title{
  display: block;
  line-height: 1;
  font-size: 10px;
  padding-top: 5px;
}
#user-detail .content .navigation-tab .tab-head li a:hover{
  background-color: #2E507D;
}
#user-detail .content .navigation-tab .tab-head li a:hover{
  border: none;
  border-radius: 0;

}
#user-detail .content .navigation-tab .tab-head li.active a{
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 0;
  color: #2E507D;
}
#user-detail .content .navigation-tab .tab-head li.active a:hover{
  background-color: #ffffff;
}
#user-detail .content .navigation-tab .tab-content{
  padding: 10px 10px 50px 10px;
  color: #000000;
}

#user-detail .content .tab-content .section-information{
  width: 100%;
  height: auto;
  padding-top: 20px;
}
#user-detail .content .tab-content .section-information .title-section .title{
  font-size: 17px;
  padding-bottom: 10px;
}
#user-detail .content .tab-content .section-information .title-section i{
  color: #2E507D;
  display: inline-block;
  padding-right: 10px;
  font-size: 17px;
  padding-bottom: 10px;
}
#user-detail .content .tab-content .section-information .section-content{
  padding-left: 27px;
  color: #555;
}
#user-detail .content .tab-content .section-information .section-content .interest{
  display: inline-block;
  border: 1px solid rgba(200, 200, 200, 0.4);
  margin-right: 10px;
  padding: 6px 10px;
  margin-bottom: 10px;
  border-radius: 14px;
  font-size: 11.5px;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 7px 0 rgba(0, 0, 0, 0.19);
}
#user-detail .content .tab-content ul{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#user-detail .content .tab-content ul li.shots{
  display: inline-block;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 7em;
  height: 6em;
}
.img-preview {
  width: 100%;
  height: 100%;
  padding: 0;
}
.img-preview .slidee {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  width: 100%!important;
}
.img-preview .slidee li {
  float: left;
  margin: 0 5px 0 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.scrollbar {
  width: 100%;
  height: 2px;
  background-color: #efefef;
}
.scrollbar .handle {
  width: 100px;
  /* overriden if dynamicHandle: 1 */

  height: 2px;
  background: #222;
}
#profile .head-section{
  height: 12em;
  width: 100%;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#profile .head-section .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(1, 194, 212, 0.5)
}
#profile .head-section .avata{
  height: 95px;
  width: 95px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid #ffffff;
  position: absolute;
  border-radius: 50%;
  margin-left: -50px;
  bottom: -40px;
  left: 50%;
}
#profile .info-section{
  text-align: center;
  margin-top: 45px;
}
#profile .info-section .name{
  font-weight: 600;
  font-size: 20px;
}
#profile .info-section .location{
  font-size: 12px;
  color: #666;
}
#profile .info-section a.edit-image{
  display: block;
  text-decoration: none;
  border: 1px solid #01C2D4;
  color: #01C2D4;
  width: 80%;
  margin: auto;
  margin-top: 15px;
  padding: 9px 0;
  border-radius: 20px;
}

#profile .link-section{
  padding: 10px 15px;
  margin-top: 40px;
}
#profile .link-section ul{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
#profile .link-section ul li{
  display: block;
}
#profile .link-section ul li a{
  display: block;
  height: 3em;
}
#profile .link-section ul li a .icon{
  float: left;
  width: 10%;
  color: #01C2D4;
}
#profile .link-section ul li a .text{
  float: left;
  width: 80%;
  color: #333;
}
#profile .link-section ul li a .right-icon{
  float: right;
  width: 10%;
  color: #01C2D4;
  text-align: right;
}

#upload{
  padding: 10px;
}
#upload .caption-field {
  width: 100%;
  margin-top: 2em!important;
  border: 1px solid #e8e8e8;
  padding: 10px;
  min-height: 5em;
  max-height: 7em!important;
}
#upload #preview {
  width: 70%;
  height: 16em;
  margin: auto;
  border: 3px solid #fff;
  position: relative;
  overflow: hidden;
  background-color: #E9EEF1;
  color: #ecf0f1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}
#upload #preview input {
  line-height: 200px;
  font-size: 200px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
#upload #preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #bdc3c7;
  width: 200px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}
#upload .upload-btn{
  background-color: #009DD4;
  border: none;
  width: 100%;
  height: 3em;
  border: none;
  color: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  margin-top: 20px;
  font-weight: 600;
}

#edit-profile {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  position: fixed;
  overflow: hidden;
  top: 4em;
  padding-bottom: 9em;
}

#edit-profile .form-wrap {
<<<<<<< HEAD
  padding: 10px;
  height: 36em;
  overflow: auto;
=======
  padding: 10px 10px 0 10px;
  height: 36em;
  overflow: auto;
  padding-bottom: 9em;
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
}
#edit-profile .form-wrap input {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: #333;
  height: 3em;
  margin-bottom: 1.5em;
  font-size: 13px;
}
#edit-profile .form-wrap select {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  color: #333;
  height: 3em;
  margin-bottom: 1.5em;
  font-size: 13px;
  padding: 0;
}
#edit-profile .form-wrap input:focus {
  outline: none;
}
#edit-profile .form-wrap select:focus {
  outline: none;
}
#edit-profile .form-wrap input.password {
  margin-bottom: 0.5em;
}
#edit-profile .form-wrap ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */

  color: #333;
}
#edit-profile .form-wrap ::-moz-placeholder {
  /* Firefox 19+ */

  color: #333;
}
#edit-profile .form-wrap :-ms-input-placeholder {
  /* IE 10+ */

  color: #333;
}
#edit-profile .form-wrap :-moz-placeholder {
  /* Firefox 18- */

  color: #333;
}
#edit-profile .alternative-login {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  color: #333;
  height: auto;
}
#edit-profile .alternative-login .facebook {
  float: left;
  width: 50%;
  height: 3.5em;
  background-color: #3B5998;
  color: #333;
  display: block;
  line-height: 3.5em;
  font-weight: 600;
  text-decoration: none;
}
#edit-profile .alternative-login .facebook:hover {
  text-decoration: none;
}
#edit-profile .alternative-login .google {
  float: right;
  width: 50%;
  height: 3.5em;
  background-color: #DD4C3B;
  color: #ffffff;
  display: block;
  line-height: 3.5em;
  font-weight: 600;
  text-decoration: none;
}
#edit-profile .alternative-login .google:hover {
  text-decoration: none;
}
#edit-profile .password-reset {
  float: right;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
}
#edit-profile .signup-link {
  padding-top: 10px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
}
#edit-profile .signup-link a {
  color: #ffffff;
}
<<<<<<< HEAD
=======
#edit-profile .btn-wrap{
  width: 100%;
  background: #ffffff;
  position: fixed!important;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 4em;
}
#edit-profile .btn-wrap button {
  background: #009DD4;
  color: #ffffff;
  display: block;
  width: 90%;
  border: none;
  padding: 0.8em 0;
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: auto;
}
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
#edit-profile button {
  background: #009DD4;
  color: #ffffff;
  display: block;
  width: 90%;
  border: none;
  padding: 0.8em 0;
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
<<<<<<< HEAD
  position: fixed!important;
  bottom: 12px;
  left: 0;
  right: 0;
=======
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
  margin: auto;
}
#edit-profile button:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
#edit-profile button:focus {
  outline: none;
}
#nearYou{
  padding: 10px;
}
#nearYou .near-you{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto; 
}
#nearYou .near-you-bubble{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  text-align: center;
}
#nearYou .near-you-bubble li{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
}
#nearYou .near-you-bubble li .image{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: relative;
  background-color: #efefef;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}
#nearYou .near-you-bubble li .image .status{
  position: absolute;
  bottom: 0;
  color: #ffffff;
  padding: 0px 6px;
  border-radius: 18px;
  font-weight: 600;
  font-size: 10px;
  line-height: 21px;
  border: 2px solid;
  left: 21px;
  bottom: -7px;
}
#nearYou .near-you-bubble li .image .status.online{
  background-color: #5bb75b;
}
#nearYou .near-you-bubble li .image .status.ofline{
  background-color: #ED3B53
}
#nearYou .near-you-bubble li .content{
  padding-top: 5px;
  text-align: center;
}
#nearYou .near-you-bubble li .content .name{
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
}
#nearYou .near-you-bubble li .content .last-seen{
  font-size: 11px;
  line-height: 15px;
}
#nearYou .near-you li{
  display: inline-block;
}
#nearYou .near-you li:nth-child(1n){
  width: 49%;
  float: left;
  height: 18em;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
}
#nearYou .near-you li:nth-child(2n){
  width: 49%;
  float: right;
  height: 18em;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
}
#nearYou .near-you li:nth-child(3n){
  width: 100%;
  height: 26em;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
}
#nearYou .near-you .top-section{
  height: 10%;
  background-color: #ffffff;
  padding: 0 5px;
  line-height: 18px;
  border-radius: 3px 3px 0 0;
}
#nearYou .near-you li:nth-child(3n) .top-section{
  height: 10%;
  background-color: #ffffff;
  padding: 0 5px;
  line-height: 18px;
}
#nearYou .near-you .top-section .status{
  height: 100%;
  line-height: 25px;
}
#nearYou .near-you .top-section .status .online-bubble{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #5bb75b;
  box-shadow:  0 1px 3px 0 rgba(0,0,0,0.16),0 1px 1px 0 rgba(0,0,0,0.12);;
}
#nearYou .near-you .top-section .status .offline-bubble{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #ED3B53;
  box-shadow:  0 1px 3px 0 rgba(0,0,0,0.16),0 1px 1px 0 rgba(0,0,0,0.12);;
}
#nearYou .near-you .top-section .status .status-code{
  display: inline-block;
  font-size: 11px;
}
#nearYou .near-you .img-section{
  height: 65%;
  background-color: #efefef;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  text-decoration: none;
}
#nearYou .near-you li:nth-child(3n) .img-section{
  height: 72%;
  background-color: #efefef;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  text-decoration: none;
}
#nearYou .near-you .img-section .like{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  text-align: center;
  left: 20px;
  bottom: 10%;
  color: #ffffff;
  background-color: #2E507D;
  font-size: 22px;
  padding: 4px 0;
}
#nearYou .near-you .img-section .like i {
  display: block;
  position: absolute;
  left: 8px;
  top: 9px;
}
#nearYou .near-you .img-section .like:hover, #nearYou .near-you .img-section .like:active{
  color: #ED3B53;
}
#nearYou .near-you .img-section .block{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  text-align: center;
  right: 20px;
  bottom: 10%;
  color: #ffffff;
  background-color: #ED3B53;
  font-size: 22px;
  padding: 3px 0;
}
#nearYou .near-you .img-section .block i{
  display: block;
  position: absolute;
  left: 10px;
  top: 7px;
}
#nearYou .near-you .info-section{
  height: 25%;
  background-color: #ffffff;
  padding: 0 5px;
  font-size: 13px;
  border-radius: 0 0 3px 3px;
}
#nearYou .near-you li:nth-child(3n) .info-section{
  height: 18%;
  background-color: #ffffff;
  padding: 0 5px;
  font-size: 13px;
}
#nearYou .near-you .info-section a .name{
  width: 100%;
  padding: 5px 0;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  display: block;
  color: #333;
}
#nearYou .near-you .info-section a:hover{
  text-decoration: none;
}
#nearYou .near-you .info-section .location{
  width: 100%;
  padding: 0 0 5px 0;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#nearYou .near-you .distance{

}
#nearYou .near-you .distance .icon{
  color: #ED3B53;
  display: inline-block;
}
#nearYou .near-you .distance .value{
  color: #333333;
  display: inline-block;
  font-size: 11px;
}

.two-child{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}
.two-child li{
  display: inline-block;
}
.two-child li:nth-child(1n){
  width: 49%;
  float: left;
  height: 18em;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
}
.two-child li:nth-child(2n){
  width: 49%;
  float: right;
  height: 18em;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
}
.two-child li:nth-child(3n){
  width: 100%;
  height: 26em;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -webkit-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
  -moz-box-shadow: 0 1px 0px 0px rgba(208, 209, 213, 0.5), 0 0px 0px 1px rgba(220, 221, 224, 0.4);
}
.two-child .top-section{
  height: 10%;
  background-color: #ffffff;
  padding: 0 5px;
  line-height: 18px;
  border-radius: 3px 3px 0 0;
}
.two-child li:nth-child(3n) .top-section{
  height: 10%;
  background-color: #ffffff;
  padding: 5px;
  line-height: 18px;
}
.two-child .top-section .status{
  height: 100%;
  line-height: 25px;
}
.two-child .top-section .status .online-bubble{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #5bb75b;
  box-shadow:  0 1px 3px 0 rgba(0,0,0,0.16),0 1px 1px 0 rgba(0,0,0,0.12);;
}
.two-child .top-section .status .offline-bubble{
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: #ED3B53;
  box-shadow:  0 1px 3px 0 rgba(0,0,0,0.16),0 1px 1px 0 rgba(0,0,0,0.12);;
}
.two-child .top-section .status .status-code{
  display: inline-block;
  font-size: 11px;
}
.two-child .img-section{
  height: 65%;
  background-color: #efefef;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  text-decoration: none;
}
.two-child li:nth-child(3n) .img-section{
  height: 72%;
  background-color: #efefef;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  text-decoration: none;
}
.two-child .img-section .like{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  text-align: center;
  left: 20px;
  bottom: 10%;
  color: #ffffff;
  background-color: #2E507D;
  font-size: 22px;
  padding: 4px 0;
}
.two-child .img-section .like i {
  display: block;
  position: absolute;
  left: 8px;
  top: 9px;
}
.two-child .img-section .like:hover, #nearYou .near-you .img-section .like:active{
  color: #ED3B53;
}
.two-child .img-section .block{
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  text-align: center;
  right: 20px;
  bottom: 10%;
  color: #ffffff;
  background-color: #ED3B53;
  font-size: 22px;
  padding: 3px 0;
}
.two-child .img-section .block i{
  display: block;
  position: absolute;
  left: 10px;
  top: 7px;
}
.two-child .info-section{
  height: 25%;
  background-color: #ffffff;
  padding: 0 5px;
  font-size: 13px;
  border-radius: 0 0 3px 3px;
}
.two-child li:nth-child(3n) .info-section{
  height: 18%;
  background-color: #ffffff;
  padding: 0 5px;
  font-size: 13px;
}
.two-child .info-section a .name{
  width: 100%;
  padding: 5px 0;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 600;
  display: block;
  color: #333;
}
.two-child .info-section a:hover{
  text-decoration: none;
}
.two-child .info-section .location{
  width: 100%;
  padding: 0 0 5px 0;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.two-child .distance{

}
.two-child .distance .icon{
  color: #ED3B53;
  display: inline-block;
}
.two-child .distance .value{
  color: #333333;
  display: inline-block;
  font-size: 11px;
}
.p-t-4em{
  padding-top: 4em;
}
#myphoto{
  
}
#myphoto .header{
  height: 3em;
  background-color: #fbfbfb;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
#myphoto .header .count{
  width: 65%;
  display: block;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  color: #666;
}
#myphoto .header .count .d-count{
  color: #01C2D4;
}
#myphoto .header .upload{
  width: 35%;
  display: block;
  float: left;
  text-align: center;
}
#myphoto .header .upload a{
  color: #fff;
  background: #5EAA43;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 600;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#myphoto .images-wrap{
  padding: 10px;
}
#myphoto .images-wrap ul{
  margin: 0;
  width: 100%;
  padding: 0;
}
#myphoto .images-wrap ul li{
  width: 48%;
  height: 12em;
  display: inline-block;
  vertical-align: top;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 3px;
  margin-bottom: 8px;
  margin-right: 5px;
}
#myphoto .images-wrap ul li .overlay{
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  border-radius: 3px;
}

#myphoto .images-wrap ul li .overlay .comment{
  position: absolute;
  right: 10px;
  color: #ffffff;
  bottom: 10px;
}

#myphoto .images-wrap ul li .overlay .likes{
    position: absolute;
    right: 10px;
    color: #f7f7f7;
    bottom: 30px;
}
#view_picture{
  padding: 10px 10px 10em 10px;
}

#view_picture{
  padding: 10px;
}
#view_picture .uploaded-img-wrap{
  width: 100%;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15),-1px 0 0 rgba(0,0,0,0.03),1px 0 0 rgba(0,0,0,0.03),0 1px 0 rgba(0,0,0,0.12);
}
#view_picture .uploaded-img-wrap .img{
  height: 20em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#view_picture .uploaded-img-wrap .content{
  padding: 10px;
}
#view_picture .uploaded-img-wrap .content .social-likes{
}
#view_picture .uploaded-img-wrap .content .social-likes .likes_wrap{
  width: 50%;
  float: left;
}
#view_picture .uploaded-img-wrap .content .social-likes .likes_wrap .likes{
  margin-right: 10px;
}
#view_picture .uploaded-img-wrap .content .social-likes .likes_wrap .likes .like-count{
  color: #999;
}
#view_picture .uploaded-img-wrap .content .social-likes .likes_wrap .comment-wrap{
  display: inline-block;
  color: #999;
}
#view_picture .uploaded-img-wrap .content .social-likes .likes_wrap .comment-wrap i{
  padding-right: 5px;
}
#view_picture .uploaded-img-wrap .content .social-likes .likes_wrap a{
}
#view_picture .uploaded-img-wrap .content .social-likes .likes_wrap .like-thumb{
  color: #337AB7!important;
}
#view_picture .uploaded-img-wrap .content .social-likes .likes_wrap .unlike-thumb{
  color: #999!important;
}
#view_picture .uploaded-img-wrap .content .social-likes .time-status{
  width: 50%;.
  float: right;
  text-align: right;
  color: #999;
}

#view_picture .uploaded-img-wrap .content .d-caption{
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 15px;
}

#view_picture .uploaded-img-wrap .comment-section{
  padding: 10px;
  background-color: #F1F3F5;
  min-height: 10em;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment{
  margin: 20px 0;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment .avata{
  float: left;
  width: 13%;
  border: 1px solid rgba(200, 200, 200, 0.4);
  height: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment .d-comment{
  float: right;
  width: 87%;
  padding: 0 10px;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment .d-comment .user-name a{
  color: #777;
  font-weight: 600;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment .d-comment .user-name .d-user{
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  display: inline-block;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment .d-comment .user-name .time{
  float: right;
  width: 50%;
  text-align: right;
  display: inline-block;
  color: #999;
  font-size: 12px;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment .d-comment .content{
  padding: 0;
}

#view_picture .uploaded-img-wrap .comment-section .each-comment .action{
  width: 100%;
  margin-top: 5px;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment .action ul{
  margin: 0;
  padding: 0;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment .action ul li{
  display: inline-block;
  margin-right: 10px;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment .action ul li a{
  color: #999;
  text-decoration: none;
  font-size: 12px;
}
#view_picture .uploaded-img-wrap .comment-section .each-comment .action ul li a i{
  display: inline-block;
}



#view_picture .uploaded-img-wrap .comment-section .comment-submit{
  background-color: #365899;
  border: none;
  border-radius: 3px;
  color: #ffffff;
  font-weight: 600;
  padding: 3px 8px;
  font-weight: 600;
  margin-top: 10px;

}

#view_picture .uploaded-img-wrap .comment-section .comment-form textarea{
  width: 100%;
  border: 1px solid rgba(200, 200, 200, 0.4);
  padding: 10px;
  max-height: 10em;
}


.profile-edit .material-form-wrap{
  position: relative;
  margin-top: 3em;
}
.profile-edit .material-form-wrap .form-group {
    display: flex;
    height: 55px;
}
.profile-edit .material-form-wrap .form-group textarea{
    font-size: 15px;
    color: #666;
    padding-left: 5px;
}

.profile-edit .material-form-wrap .forgot-password a{
  color: #ffffff;
}

.profile-edit .material-form-wrap .control-label {
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 3px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    color: #333;
    font-weight: 700;
}

.profile-edit .material-form-wrap .control-select-label {
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    position: absolute;
     transform: translate3d(0, -21px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    color: #333;
    font-weight: 700;

}

.profile-edit .material-form-wrap .form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
    top: -15px;
}

.profile-edit .material-form-wrap .form-control {
    align-self: flex-end;
    border-top: none;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    border-left: none;
    border-right: none;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}

.profile-edit .material-form-wrap .form-control:focus {
  outline: none;
  box-shadow: none;
}

.profile-edit .material-form-wrap .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

.profile-edit .material-form-wrap .form-control:focus::-webkit-input-placeholder {
    transition: none;
}

.profile-edit .material-form-wrap .form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}
.form-group{
  position: relative;
}

.interest{
  text-align: left;
<<<<<<< HEAD
  margin-top: 2em;
=======
  // margin-top: 2em;
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
}
.interest .interest-title{
  font-size: 16px;
  pointer-events: none;
  transform: translate3d(0, -12px, 0) scale(1);
  transform-origin: left top;
  transition: 240ms;
  color: #333;
  font-weight: 700;
}
.interest-wrap{
  display: inline-block;
}
.interest-wrap input[type=checkbox] {
    display: none;
}
.interest-wrap label {
  display: inline-block;
  border: 1px solid rgba(200, 200, 200, 0.4);
  margin-right: 10px;
  padding: 6px 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 11.5px;
  background-color: #fff;
  cursor: pointer;
}
.interest-wrap label i{
  display: inline-block;
  padding-right: 5px;
}
.interest-wrap input[type=checkbox]:checked + label {
    background-color: #01C2D4;
    color: #fff;
    border: 1px solid transparent;
}
#edit-profile .title{
  font-size: 25px;
  font-weight: 600;
}
#edit-profile .caption{
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 13px;
  color: #000;
}