@import "variable";
//style for login page
.login-wrap{
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  background-color: @app-color;
  top: 0;
  .caption{
    color: @bodyBg;
    font-size: 35px;
    font-weight: 500;
    padding: 0 20px;
    margin-top: 2em;
  }
  .form-wrap{
    padding: 20px;
    margin-top: 4em;
    input{
      width: 100%;
      border: none;
      border-bottom: 1px solid @border-color;
      background-color: transparent;
      color: @bodyBg;
      height: 3em;
      margin-bottom: 1.5em;
      font-weight: 600;
      &:focus{
        outline: none;
      }
      &.password{
        margin-bottom: 0.5em;
      }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: @bodyBg;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: @bodyBg;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: @bodyBg;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: @bodyBg;
    }
  }
  .alternative-login{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    color: @bodyBg;
    height: auto;
    .facebook{
      float: left;
      width: 50%;
      height: 3.5em;
      background-color: #3B5998;
      color: @bodyBg;
      display: block;
      line-height: 3.5em;
      font-weight: 600;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
    .google{
      float: right;
      width: 50%;
      height: 3.5em;
      background-color: #DD4C3B;
      color: @bodyBg;
      display: block;
      line-height: 3.5em;
      font-weight: 600;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .password-reset{
    float: right;
    color: @bodyBg;
    font-size: 12px;
    font-weight: 600;
  }
  .signup-link{
    padding-top: 10px;
    color: @bodyBg;
    font-size: 13px;
    font-weight: 600;
    a{
      color: @bodyBg;
    }
  }
  button{
    background: transparent;
    color: @bodyBg;
    display: block;
    width: 100%;
    border: 2px solid @border-color;
    padding: 0.8em 0;
    border-radius: 2px;
    font-weight: 600;
    margin-top: 3em;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    box-shadow: @button-shadow;
    &:hover{
      box-shadow: @button-shadow-hover;
    }
    &:focus{
      outline: none;
    }
  }
}

//style for login page
.signup-wrap{
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  background-color: @app-color;
  top: 0;
  overflow: auto;
  .caption{
    color: @bodyBg;
    font-size: 35px;
    font-weight: 500;
    padding: 0 20px;
    margin-top: 10px;
  }
  .form-wrap{
    padding: 20px;
    input{
      width: 100%;
      border: none;
      border-bottom: 1px solid @border-color;
      background-color: transparent;
      color: @bodyBg;
      height: 3em;
      margin-bottom: 1em;
      font-weight: 600;
      &:focus{
        outline: none;
      }
      &.password{
        margin-bottom: 0.5em;
      }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: @bodyBg;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: @bodyBg;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: @bodyBg;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: @bodyBg;
    }
  }
  .radio-btn{
    text-align: left;
    .title{
      display: block;
      color: @bodyBg;
      padding: 10px 0;
      font-weight: 600;
    }
    .input-wrap{
      display: inline-block;
      width: 50%;
      // padding: 5px 0 10px 0;
      span{
        display: inline-block;
        color: @bodyBg;
        padding-left: 20px;
        font-weight: 600;
      }
      &:first-child{
        float: left;
      }
      &:last-child{
        float: right;
      }
      input{
        display: inline-block;
        color: @bodyBg;
      }
    }
  }
  .signup-link{
    padding-top: 8px;
    color: @bodyBg;
    font-size: 13px;
    font-weight: 600;
    a{
      color: @bodyBg;
    }
  }
  button{
    background: transparent;
    color: @bodyBg;
    display: block;
    width: 100%;
    border: 2px solid @border-color;
    padding: 0.8em 0;
    border-radius: 2px;
    font-weight: 600;
    margin-top: 2em;
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    box-shadow: @button-shadow;
    &:hover{
      box-shadow: @button-shadow-hover;
    }
    &:focus{
      outline: none;
    }
  }
}
#index{
  background-color: @app-color;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  .image-preview{
    width: 100%;
    height: auto;
    position: relative;
    .overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
    .item{
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 25em;
    }
  }
  .info{
    width: 100%;
    height: 20em;
    background-color: @app-color;
    position: relative;
    .like{
      display: inline-block;
      border: 4px solid #fff;
      position: absolute;
      width: 7em;
      height: 7em;
      text-align: center;
      border-radius: 50%;
      background: @app-color;
      left: 50%;
      margin-left: -59px;
      top: -50px;
      padding-top: 8px;
      input[type=checkbox] {
        display: none;
      }
      label {
        display: inline-block;
        cursor: pointer;
        color: @bodyBg;
        font-size: 60px;
        animation-duration: 0.4s;
      }
      input[type=checkbox]:checked ~ label {
        color: @loveColor;
        animation-duration: 0.4s;
      }
    }
    .cancel{
      position: absolute;
      right: 10px;
      color: @bodyBg;
      border: 1px solid transparent;
      top: 3px;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 25px;
      border-radius: 50%;
      a{
        color: #fff;
      }
    }
    .info-sec{
      padding: 4em 10px 10px 10px;
      color: @bodyBg;
      a{
        color: @bodyBg;
        text-decoration: none;
      }
      .left-sec{
        width: 100%;
        .sec-name{
          font-size: 28px;
        }
        .age{
          font-size: 20px;
        }
        .location{
          padding-top: 10px;
          span{
            display: inline-block;
            &.icon{

            }
            &.address{

            }
          }
        }
      }

    }
  }
}
#messaging{
  padding: 10px;
  .messages{
    padding-bottom: 15px;
    a{
      color: inherit;
      text-decoration: none;
      &:hover{
        text-decoration: none;
      }
    }
    table{
      width: 100%;
      border-collapse: collapse;
      border: 1px solid transparent;
      tr{
        td{
          vertical-align: top;
          &.thumnail-wrap{
            width: 20%;
            height: auto;
            .thumb{
              width: 60px;
              height: 60px;
              border-radius: 50%;
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }
          }
          &.details{
            width: 80%;
            text-align: left;
            padding-left: 5px;
            border-bottom: 2px solid #f2f2f2;
            .name{
              display: block;
              text-align: left;
              width: 100%;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              font-weight: 600;
              font-size: 16px;
            }
            .status{
              display: block;
              text-align: left;
              font-size: 12px;
              color: #777;
              width: 100%;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}
#messages{
  .message-wrap{
    width: 100%;
    height: 100%;
    position: fixed;
    background: #efefef;
    padding: 10px;
    p{
      text-align: right;
      display: block;
      &:nth-child(2n){
        text-align: left;
      }
    }
  }
  .form-section{
      width: 100%;
      height: 4em;
      background: @bodyBg;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      .emoji{
        float: left;
        width: 15%;
        height: 100%;
        padding: 10px;
        text-align: center;
        font-size: 25px;
        color: #777;
        position: relative;
        i{
          position: absolute;
          left: 41%;
          top: 25%;
        }
      }
      .form-wrap{
        float: left;
        width: 70%;
        height: 100%;
        padding: 10px;
        textarea{
          width: 100%;
          height: 100%;
          border-radius: 3px;
          background: #efefef;
          border: none;
          padding: 0 10px;
          font-size: 13px;
          &:focus{
            outline: none;
          }
        }
        ::-webkit-input-placeholder {
           padding-top: 10px;
        }

        :-moz-placeholder { /* Firefox 18- */
           padding-top: 10px;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           padding-top: 10px;
        }

        :-ms-input-placeholder {
           padding-top: 10px;
        }
      }
      .send{
        button{
          width: 35px;
          height: 35px;
          border-radius: 50%;
          border: none;
          background-color: #5bb75b;
          color: @bodyBg;
          margin-top: 10px;
          margin-left: 5px;
          will-change: opacity, transform;
          transition: all .3s ease-out;
          box-shadow: @button-shadow;
          &:hover{
            box-shadow: @button-shadow-hover;
          }
          &:focus{
            outline: none;
          }
        }
      }
    }
}
#profile{
  .header-wrap{
    box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1), 0 2px 9px 0 rgba(0, 0, 0, 0.1);
    .header-section{
      position: relative;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 9em;
    }
    .edit{
      background-color: @bodyBg;
      width: 100%;
      height: 8em;
      .profile-image{
        position: absolute;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        border: 3px solid @bodyBg;
        margin: auto;
        left: 70px;
        margin-left: -55px;
        z-index: 1;
        top: 118px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .edit-image{
        display: inline-block;
        text-align: right;
        border: 1px solid #8BBBBB;
        float: right;
        padding: 5px 28px;
        border-radius: 5px;
        margin-right: 10px;
        margin-top: 10px;
        text-decoration: none;
        color: #555;
        &:hover{
          text-decoration: none;
        }
      }
      .name{
        float: left;
        margin-top: 3em;
        margin-left: 10px;
        font-size: 18px;
        font-weight: 300;
        color: #333;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .links{
    width: 100%;
    padding: 10px;
    ul{
    width: 100%;
    height: auto;
    li{
      width: 100%;
      margin: 0;
      color: @bodyBg;
      display: inline-block;
      a{
        display: block;
        font-size: 14px;
        color: #555;
        padding: 10px;
        text-decoration: none;
        &:hover{
          color: #555;
          text-decoration: none;
        }
        span{
          display: inline-block;
          &.icon{
            width: 30px;
            text-align: left;
            font-size: 18px;
            color: @app-color;
          }
          &.link-name{
            font-size: 15px;
          }
          &.count{
            float: right;
            background-color: #ED3B53;
            border: 1px solid #ED3B53;
            padding: 0 4px;
            border-radius: 10px;
            font-weight: 600;
          }
        }
      }
    }
  }
  }
}
#user-detail{
  background-color: @bodyBg;
  position: fixed;
  height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  .image-preview{
    width: 100%;
    height: auto;
    position: relative;

    .overlay{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
    .item{
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 25em;
    }
  }
  .content{
    .navigation-tab{
      .tab-head{

      }
    }
    .name{
      span{
        display: inline-block;
        &:first-child{
          font-size: 30px;
        }
        &:last-child{
          font-size: 30px;
          padding-left: 10px;
        }
      }
  }
    .location{
      color: @dark;
      font-size: 12px;
    }
  }
}



.frame { width: 100%; height: 160px; padding: 0; }
.frame .slidee { margin: 0; padding: 0; height: 100%; list-style: none; }
.frame .slidee li { float: left; margin: 0 5px 0 0; padding: 0; width: 120px; height: 100%; }

.scrollbar { width: 100%; height: 2px; background-color: #efefef;}
.scrollbar .handle {
    width: 100px; /* overriden if dynamicHandle: 1 */
    height: 2px;
    background: #222;
}