@import "variable";
.main-wrap{
  margin-top: 4em;
}
.navOpen {
  overflow: hidden;
}
.wrapper {
  transition-duration: 0.5s;
  transition-timing-function: swing;
  background-color: @shaded-bodyBg;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto; 
}
.wrapper.open {
  transform: translateX(80%) translateY(0px);
  -webkit-transform: translateX(80%) translateY(0px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

nav {
  background-color: @side-nav-background;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  .side-nav {
    width: 80%;
    height: 100%;
    position: relative;
    .profile-image{
      position: absolute;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 3px solid #8BBBBB;
      margin: auto;
      left: 50%;
      margin-left: -55px;
      z-index: 1;
      top: 39px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-box-shadow: 0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
      box-shadow: 0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
    }
    .navHead{
      width: 100%;
      height: 20%;
      position: relative;
      a{
        display: inline-block;
        position: absolute;
        color: @bodyBg;
        text-decoration: none;
        font-size: 25px;
        top: 6px;
        &.messages{
          top: 0;
          right: 10px;
          .bubble{
            border: 1px solid @bubble-color;
            position: absolute;
            width: 19px;
            height: 19px;
            border-radius: 50%;
            font-size: 13px;
            right: -8px;
            text-align: center;
            top: 1px;
            color: @bodyBg;
            line-height: 16px;
            background: #F95759;
            display: block;
          }
        }
        &.settings{
          top: 6px;
          left: 10px;
        }
      }
    }
    .profile{
      width: 100%;
      height: 20%;
      position: relative;
      background-color: rgba(82, 77, 95, 0.5);
      text-align: center;
      padding-top: 52px;
      .name{
        color: @bodyBg;
        font-size: 18px;
        font-weight: 300;
      }
      .location{
        span{
          display: inline-block;
          &.icon{
            color: @bubble-color;
          }
          &.local{
            color: @bodyBg;
            margin: 0;
            font-size: 13px;
          }
        }
      }
    }
    ul{
      width: 100%;
      height: auto;
      padding: 10px;
      li{
        width: 100%;
        margin: 0;
        color: @bodyBg;
        display: inline-block;
        a{
          display: block;
          font-size: 14px;
          color: @bodyBg;
          padding: 10px;
          text-decoration: none;
          &:hover{
            color: @bodyBg;
            text-decoration: none;
          }
          span{
            display: inline-block;
            &.icon{
              width: 30px;
              text-align: left;
              font-size: 18px;
              color: @app-color;
            }
            &.link-name{
              font-size: 15px;
            }
            &.count{
              float: right;
              background-color: @bubble-color;
              border: 1px solid @bubble-color;
              padding: 0 4px;
              border-radius: 10px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
  .logout{
      width: 80%;
      position: relative;
      bottom: 0;
      right: 0;
      left: 0;
      color: @bodyBg;
      background-color: @bubble-color;
      border: none;
      box-shadow: @button-shadow;
      height: 3.5em;
      font-weight: 600;
      a{
        color: @bodyBg;
      }
      &:hover{
        box-shadow: @button-shadow-hover;
      }
      &:focus{
        outline: none;
      }
      a{

      }
    }
}