.main-wrap {
  margin-top: 4em;
}
.navOpen {
  overflow: hidden;
}
.wrapper {
  transition-duration: 0.5s;
  transition-timing-function: swing;
<<<<<<< HEAD
  background-color: #ffffff;
=======
  background-color: #fbfbfb;
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
  // background-color: #EBECED;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
}
.wrapper.open {
  transform: translateX(80%) translateY(0px);
  -webkit-transform: translateX(80%) translateY(0px);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
nav {
  background-color: #403c4d;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
}
nav .side-nav {
  width: 80%;
  height: 100%;
  position: relative;
}
nav .side-nav a.profile-image-wrap .profile-image {
  position: absolute;
  display: block;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #8BBBBB;
  margin: auto;
  left: 50%;
  margin-left: -55px;
  z-index: 1;
<<<<<<< HEAD
  top: 39px;
=======
  top: 52px;
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}
nav .side-nav .navHead {
  width: 100%;
  height: 20%;
  position: relative;
}
nav .side-nav .navHead a.messages, nav .side-nav .navHead a.settings {
  display: inline-block;
  position: absolute;
  color: #ffffff;
  text-decoration: none;
  font-size: 25px;
  top: 6px;
}
nav .side-nav .navHead a.messages {
  top: 0;
  right: 10px;
}
nav .side-nav .navHead a.messages .bubble {
  border: 1px solid #ed3b53;
  position: absolute;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  font-size: 13px;
  right: -8px;
  text-align: center;
  top: 1px;
  color: #ffffff;
  line-height: 16px;
  background: #F95759;
  display: block;
}
nav .side-nav .navHead a.settings {
  top: 6px;
  left: 10px;
}
nav .side-nav .profile {
  width: 100%;
  height: 20%;
  position: relative;
  background-color: rgba(82, 77, 95, 0.5);
  text-align: center;
<<<<<<< HEAD
  padding-top: 52px;
=======
  padding-top: 65px;
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
}
nav .side-nav .profile .name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
}
nav .side-nav .profile .name a{
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
}
nav .side-nav .profile .name a:hover{
  text-decoration: none;
  color: #ffffff;
}
nav .side-nav .profile .location span {
  display: inline-block;
}
nav .side-nav .profile .location span.icon {
  color: #ed3b53;
}
nav .side-nav .profile .location span.local {
  color: #ffffff;
  margin: 0;
  font-size: 13px;
}
nav .side-nav ul {
  width: 100%;
  height: auto;
  padding: 10px;
}
nav .side-nav ul li {
  width: 100%;
  margin: 0;
  color: #ffffff;
  display: inline-block;
}
nav .side-nav ul li a {
  display: block;
  font-size: 14px;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
}
nav .side-nav ul li a:hover {
  color: #ffffff;
  text-decoration: none;
}
nav .side-nav ul li a span {
  display: inline-block;
}
nav .side-nav ul li a span.icon {
  width: 30px;
  text-align: left;
  font-size: 18px;
  color: #01c2d4;
}
nav .side-nav ul li a span.link-name {
  font-size: 15px;
}
nav .side-nav ul li a span.count {
  float: right;
  background-color: #ed3b53;
  border: 1px solid #ed3b53;
  padding: 0 4px;
  border-radius: 10px;
  font-weight: 600;
}
nav .logout {
  width: 80%;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  color: #ffffff;
  background-color: #ed3b53;
  border: none;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 3.5em;
  font-weight: 600;
}
nav .logout a {
  color: #ffffff;
}
nav .logout:hover {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
nav .logout:focus {
  outline: none;
}
