@font-family: roboto, WorkSans, "Helvetica Neue", Helvetica, Arial, sans-serif;
@app-color: #01C2D4;
@bodyBg: #ffffff;
@border-color: rgba(255, 255, 255, 0.7);
@button-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
@button-shadow-hover: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
@header-shadow: 0 2px 4px -1px rgba(0,0,0,0.06),0 4px 5px 0 rgba(0,0,0,0.06),0 1px 10px 0 rgba(0,0,0,0.08);
@side-nav-background: #403C4D;
@bubble-color: #ED3B53;
@shaded-bodyBg: #fcfcfc;
@loveColor: #FC313F;
@headerBtnColor: #ffffff;
@dark: #333;