{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">Password Edit</span>
</div>
{% endblock %}
{% block pageTitle %}Change Password{% endblock %}

{% block title %}Change Password{% endblock %}

{% block navBtn %}
<div class="back"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
{% endblock %}

{% block body %}

  <div id="edit-profile">
      <div class="form-wrap">

        <form action="{{ request.path }}" method="post" class="clearfix">
          <input type="password" class="email" name="password" placeholder="New Password">
          <input type="password" class="email" name="confirm_password" placeholder="Confirm Password">

          <button data-rippleria type="submit">Save</button>
        </form>
      </div>
  </div>

{% endblock %}
