{% extends "./layout.html" %}

{% block pageTitle %}Complete Login{% endblock %}

{% block title %}Complete Login{% endblock %}

{% block body %}
    <div class="signup-wrap">
		<div class="caption">Complete Login</div>
		<div class="form-wrap" style="height: 40em;">
            <p style="color:#fff;">Hello {{ user }}, please fill the form below to complete the login process</p>
            <form action="{{ request.path }}" method="post">
                {% if user.email == None %}
                    {{ form.email(type="email", placeholder="Email") }}
                {% endif %}

                {{ form.dob(type="text", placeholder="Date of Birth", class_="datepicker") }}
                {{ form.phone(type="phone", placeholder="Phone Number") }}

                {% if user.gender == None %}
                    <div class="radio-btn clearfix">
                        <span class="title">I am</span>
                        {% for subfield in form.gender %}
                        <div class="input-wrap">
                            <input class="custom-input" type="radio" name="gender" value="{{ subfield.data }}"><span>{{ subfield.label }}</span>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="radio-btn clearfix">
					<span class="title">Interested In</span>
					{% for subfield in form.int_gender %}
					<div class="input-wrap">
                        <input class="custom-input" type="radio" name="int_gender" value="{{ subfield.data }}"><span>{{ subfield.label }}</span>
                    </div>
                    {% endfor %}
				</div>
				<button data-rippleria type="submit">Login</button>
            </form>
        </div>
	</div>

{% endblock %}
