{% extends "./layout.html" %}

{% block pageTitle %}Login{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
	<div class="login-wrap">
		<div class="caption">Reset Password</div>
		<div class="form-wrap">
			<form action="{{ request.path }}" method="post">
		        {{ form.email(class_="email", type="text", placeholder="Email") }}
		        {{ form.csrf_token }}<br>
		        <button data-rippleria type="submit">Reset Your Password</button>
		    </form>
		</div>
	</div>
{% endblock %}