<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icheck-1.x/skins/all.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel/owl-carousel/owl.carousel.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel/owl-carousel/owl.transitions.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap-datepicker/css/bootstrap-datepicker.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.rippleria.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font/font.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/spinkit.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/elementTransitions.css') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
        <title>{% block pageTitle %}{% endblock %}</title>
    </head>
    <body class="theBody">
        <!-- <div class="loading-landing-animation">
            <div class="logo-wrap">
                <img src="/static/img/logo.png" alt="">
                <div class="logo-text">kliQs</div>
            </div>
            <div class="spinner landing">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
        </div> -->

        <div class="overlay-content">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                        {% for category, message in messages %}
                            <li class="animated fadeInDown clearfix">
                                {% if category == 'success' %}
                                    <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                                {% else %}
                                    <span class="icon"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                                {% endif %}
                                <span class="message">{{ message }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

        <div class="et-wrapper span4">

            <div class="et-page">
                <div class="logo-wrap wow fadeIn"  data-wow-delay="1s">
                    <img src="/static/img/logo.png" alt="">
                    <div class="logo-text">kliQs</div>
                </div>
                <div class="big-caption">
                    Meet Someone New!
                </div>
                <div class="small-caption">
                    Make new friend and get involve with your Kliqs
                </div>
                <div class="social-btn-wrap">
                    <button data-rippleria class="et-rotate btn get-started" et-in="scaleUpDown delay300" et-out="scaleDown">Let's Get Started</button>
                </div>
            </div>

            <div class="et-page">
                <form action="{{ request.path }}" method="post" autocomplete="off">

                    <div class="social-sign-up">
                        <a class="social-btn facebook-color clearfix" href="{{ url_for('social_login', provider_name='facebook') }}" data-rippleria>
                            <span class="icon"><i class="fa fa-facebook" aria-hidden="true"></i>
                            </span>
                            <span class="text">Facebook</span>
                        </a>
                        <a class="social-btn google-color clearfix" href="{{ url_for('social_login', provider_name='google') }}" data-rippleria>
                            <span class="icon"><i class="fa fa-google-plus" aria-hidden="true"></i></span>
                            <span class="text">Google</span>
                        </a>
                    </div>

                    <div class="material-form-wrap">
                        <div class="form-group">
                            <label class="control-label" for="phone">Phone/Email</label>
                            {{ form.username(class_="form-control", id="phone", type="text", placeholder="Phone/Email") }}
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            {{ form.password(class_="form-control", id="password", type="password", placeholder="Password") }}
                        </div>
                        <div class="forgot-password"><a class="pull-right" href="{{ url_for('forgotpassword') }}">Forgot Your Password?</a></div>
                    </div>

                    <div class="social-btn-wrap">
                        <button type="submit" class="get-started" >Login</button>
                    </div>

                    <div class="have-account clearfix">
                        <div class="text">Don't have an account yet?</div>
                        <a href="{{url_for('signup')}}" class="button" data-rippleria>
                            Sign Up
                        </a>
                    </div>

                </form>
            </div>

        </div>

            <!-- <div class="et-wrapper span4">
                <div class="et-page">
                    <button class="et-rotate btn get-started" et-in="scaleUpDown delay300" et-out="scaleDown">Let's Get Started</button>
                </div>
                <div class="et-page">
                     <h2>Page 2</h2>
                     <button class="et-rotate btn" et-in="scaleUpDown delay300" et-out="scaleDown">Next</button>
                     <button class="et-rotate btn" et-in="scaleUpDown delay300" et-out="scaleDown">Back</button>
                </div>
            </div> -->
        </div>







        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-1.11.3.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.uploadPreview.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.rippleria.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='css/icheck-1.x/icheck.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='css/owl.carousel/owl-carousel/owl.carousel.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sly.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/TweenMax.min.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular-animate.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular-ui-router.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/general.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/elementTransitions.js') }}"></script>
        <script type="text/javascript" defer src="{{ url_for('static', filename='js/material.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.cookie.js') }}"></script>
        {% if current_user.is_authenticated %}
        <!-- Onesignal -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/OneSignalSDK.js') }}" async="async"></script>
          <script>

            var OneSignal = OneSignal || [];
            OneSignal.push(["init", {
              appId: "3cfddd11-a2d6-48c6-aabb-53ac7458375c",
              autoRegister: false, /* Set to true to automatically prompt visitors */
              subdomainName: 'Kliq',
              notifyButton: {
                  enable: false /* Set to false to hide */
              }
            }]);

            OneSignal.push(function() {
                // If we're on an unsupported browser, do nothing
                if (!OneSignal.isPushNotificationsSupported()) {
                    return;
                }
                OneSignal.isPushNotificationsEnabled(function(isEnabled) {
                    if (isEnabled) {
                        // The user is subscribed to notifications
                        // Don't show anything
                    } else {
                        OneSignal.sendTag('userid', "{{ current_user.id }}", function(){});
                        OneSignal.registerForPushNotifications();
                    }
                });
            });
          </script>
        {% endif %}
        {% block footerscripts %} {% endblock %}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        <script>
            $(window).load(function() {
                $(".loading-landing-animation").addClass("hide");
            });
        </script>
    </body>
</html>
