{% extends "./layout.html" %}

{% block pageTitle %}Login{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
	<div class="login-wrap">
		<div class="caption">Login</div>
		<div class="form-wrap">
			<form action="{{ request.path }}" method="post" class="clearfix">
                <div>
                	{{ form.username(class_="email", type="text", placeholder="Email or Phone number") }}
                </div>
                <div>
                	{{ form.password(class_="password", type="password", placeholder="Password") }}
                </div>
				<a class="password-reset" href="#">Forgot your password?</a>
				<button data-rippleria type="submit">Log In</button>
				<div class="signup-link">Don't have an account? <a href="{{url_for('signup')}}">Sign up</a></div>
			</form>
			<div class="alternative-login clearfix">
				<a data-rippleria href="{{ url_for('social_login', provider_name='facebook') }}" class="facebook">Sign in with Facebook</a>
				<a data-rippleria href="{{ url_for('social_login', provider_name='google') }}" class="google">Sign in with Google</a>
			</div>
		</div>
	</div>
{% endblock %}
