{% extends "layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">Messages</span>
</div>
{% endblock %}
{% block body %}
  <section id="messaging">
    {% if thrds.count() == 0  %}

        <div class="no-messages">
          <div class="icon">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </div>
          <div class="caption">You have no messages</div>
          <a data-rippleria class="find" href="{{ url_for('nearby') }}">Find people near you</a>
        </div>

    {% else %}

      <div>
        <ul class="nav nav-tabs chat-tab" role="tablist">

          <li role="presentation" class="active chat-tab-list"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" class="chat-tab-link">All</a></li>


          <li role="presentation" class="chat-tab-list"><a href="#unread" aria-controls="unread" role="tab" data-toggle="tab" class="chat-tab-link">Unread</a></li>


          <li role="presentation" class="chat-tab-list"><a href="#online" aria-controls="online" role="tab" data-toggle="tab" class="chat-tab-link">Online</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

          <!-- Tab section for all chat -->
          <div role="tabpanel" class="tab-pane active p-20-10 p-t-4em" id="all">
            {% for thr in thrds %}
              <div class="messages clearfix">
                <a href="{{url_for('message_thread', msgid=thr.urid)}}">
                  <table data-rippleria data-rippleria-color="#efefef">
                        <tr>
                          <td class="thumnail-wrap">
                            <div class="thumb" style="background-image: url('{% if thr.sender_id == current_user.id %} {{ thr.receiver.get_avatar() }} {% else %} {{ thr.sender.get_avatar() }} {% endif %}')"></div>
                          </td>
                          <td class="details">
                            <div>
                              <span class="name">
                                  {% if thr.sender_id == current_user.id %}
                                      {{ thr.receiver }}
                                  {% else %}
                                      {{ thr.sender }}
                                  {% endif %}
                              </span>
                              <!-- show last message -->
                              {%  if thr.threads[-1].sender_id == current_user.id %}
                                  <span class="message-caption">{{ thr.threads[-1] }}</span>
                              {% else %}
                                  {% if thr.threads[-1].read_status == 1 %}
                                      <span class="message-caption">{{ thr.threads[-1] }}</span>
                                  {% else %}
                                      <span class="message-caption unread">{{ thr.threads[-1] }}</span>
                                  {% endif %}
                              {% endif %}
                              {% if thr.sender_id == current_user.id %}
                                  {% if thr.receiver.is_online() %}
                                      <span class="status" style="color: green;">online</span>
                                  {% elif thr.receiver.last_visited != None %}
                                      <span class="status">last seen {{ thr.receiver.last_visited }}</span>
                                  {% endif %}
                              {% else %}
                                  {% if thr.sender.is_online() %}
                                      <span class="status" style="color: green;">online</span>
                                  {% elif thr.sender.last_visited != None %}
                                      <span class="status">last seen {{ thr.sender.last_visited }}</span>
                                  {% endif %}
                              {% endif %}
                            </div>
                          </td>
                        </tr>
                  </table>
                </a>
              </div>
            {% endfor %}
          </div>
          <!-- End of tab section for all chat -->

          <!-- Tab section for unread chat -->
          <div role="tabpanel" class="tab-pane p-20-10 p-t-4em" id="unread">
            {% for thr in unread %}
              <div class="messages clearfix">
                <a href="{{url_for('message_thread', msgid=thr.urid)}}">
                  <table data-rippleria data-rippleria-color="#efefef">
                        <tr>
                          <td class="thumnail-wrap">
                            <div class="thumb" style="background-image: url('{% if thr.sender_id == current_user.id %} {{ thr.receiver.get_avatar() }} {% else %} {{ thr.sender.get_avatar() }} {% endif %}')"></div>
                          </td>
                          <td class="details">
                            <div>
                              <span class="name">
                                  {% if thr.sender_id == current_user.id %}
                                      {{ thr.receiver }}
                                  {% else %}
                                      {{ thr.sender }}
                                  {% endif %}
                              </span>
                              <!-- show last message -->
                              {%  if thr.threads[-1].sender_id == current_user.id %}
                                  <span class="message-caption">{{ thr.threads[-1] }}</span>
                              {% else %}
                                  {% if thr.threads[-1].read_status == 1 %}
                                      <span class="message-caption">{{ thr.threads[-1] }}</span>
                                  {% else %}
                                      <span class="message-caption unread">{{ thr.threads[-1] }}</span>
                                  {% endif %}
                              {% endif %}
                              {% if thr.sender_id == current_user.id %}
                                  {% if thr.receiver.is_online() %}
                                      <span class="status" style="color: green;">online</span>
                                  {% elif thr.receiver.last_visited != None %}
                                      <span class="status">last seen {{ thr.receiver.last_visited }}</span>
                                  {% endif %}
                              {% else %}
                                  {% if thr.sender.is_online() %}
                                      <span class="status" style="color: green;">online</span>
                                  {% elif thr.sender.last_visited != None %}
                                      <span class="status">last seen {{ thr.sender.last_visited }}</span>
                                  {% endif %}
                              {% endif %}
                            </div>
                          </td>
                        </tr>
                  </table>
                </a>
              </div>
            {% endfor %}
          </div>
          <!-- End of tab section for unread chat -->

          <!-- Tab section for online users -->
          <div role="tabpanel" class="tab-pane p-20-10 p-t-4em" id="online">
            {% for thr in online %}
              <div class="messages clearfix">
                <a href="{{url_for('message_thread', msgid=thr.urid)}}">
                  <table data-rippleria data-rippleria-color="#efefef">
                        <tr>
                          <td class="thumnail-wrap">
                            <div class="thumb" style="background-image: url('{% if thr.sender_id == current_user.id %} {{ thr.receiver.get_avatar() }} {% else %} {{ thr.sender.get_avatar() }} {% endif %}')"></div>
                          </td>
                          <td class="details">
                            <div>
                              <span class="name">
                                  {% if thr.sender_id == current_user.id %}
                                      {{ thr.receiver }}
                                  {% else %}
                                      {{ thr.sender }}
                                  {% endif %}
                              </span>
                              <!-- show last message -->
                              {%  if thr.threads[-1].sender_id == current_user.id %}
                                  <span class="message-caption">{{ thr.threads[-1] }}</span>
                              {% else %}
                                  {% if thr.threads[-1].read_status == 1 %}
                                      <span class="message-caption">{{ thr.threads[-1] }}</span>
                                  {% else %}
                                      <span class="message-caption unread">{{ thr.threads[-1] }}</span>
                                  {% endif %}
                              {% endif %}
                              {% if thr.sender_id == current_user.id %}
                                  {% if thr.receiver.is_online() %}
                                      <span class="status" style="color: green;">online</span>
                                  {% elif thr.receiver.last_visited != None %}
                                      <span class="status">last seen {{ thr.receiver.last_visited }}</span>
                                  {% endif %}
                              {% else %}
                                  {% if thr.sender.is_online() %}
                                      <span class="status" style="color: green;">online</span>
                                  {% elif thr.sender.last_visited != None %}
                                      <span class="status">last seen {{ thr.sender.last_visited }}</span>
                                  {% endif %}
                              {% endif %}
                            </div>
                          </td>
                        </tr>
                  </table>
                </a>
              </div>
            {% endfor %}
          </div>
          <!-- End of tab section for online users -->
        </div>
      </div>

    {% endif %}
  </section>
{% endblock %}
