{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">Mutual Likes</span>
</div>
{% endblock %}
{% block pageTitle %}People Near You{% endblock %}

{% block title %}People Near You{% endblock %}

{% block body %}
<section id="messaging">
    <div>
    <ul class="nav nav-tabs chat-tab" role="tablist">

      <li role="presentation" class="active chat-tab-list half"><a href="#likes" aria-controls="likes" role="tab" data-toggle="tab" class="chat-tab-link">Likes</a></li>


      <li role="presentation" class="chat-tab-list half"><a href="#multuallm" aria-controls="multuallm" role="tab" data-toggle="tab" class="chat-tab-link">Mutual Likes</a></li>

    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

      <!-- Tab section for all chat -->
      <div role="tabpanel" class="tab-pane active p-20-10 p-t-4em" id="likes">
        <ul class="two-child clearfix">
            {% for user in current_user.liked_by %}
            <li class="animated nearYou-wrapper">
                <div class="top-section clearfix">
                    {% if user.is_online() %}
                        <div class="status">
                            <span class="online-bubble"></span>
                            <span class="status-code">Online</span>
                        </div>
                    {% endif %}
                    {% if not user.is_online() %}
                        <div class="status">
                            <span class="offline-bubble"></span>
                            <span class="status-code">Offline</span>
                        </div>
                    {% endif %}

                </div>
                <a href="{{ url_for('user_details', userid=user.urid) }}" class="img-section" style="background-image:url('{{ user.get_avatar() }}')">

                </a>
                <div class="info-section">
                    <a href=""><div class="name">{{ user }}</div></a>
                    {% if user.location %}
                        <div class="location">{{ user.location }}</div>
                    {% endif %}
                    {% if user.proximity(current_user.coordinates) %}
                        <div class="distance">
                            <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <span class="value">{{ user.proximity_text(current_user.coordinates) }}</span>
                        </div>
                    {% endif %}
                </div>

            </li>
            {% endfor %}
        </ul>
      </div>
      <!-- End of tab section for all chat -->

      <!-- Tab section for multuallm chat -->
      <div role="tabpanel" class="tab-pane p-20-10 p-t-4em" id="multuallm">
        <ul class="two-child clearfix">
            {% for user in mutual %}
            <li class="animated nearYou-wrapper">
                <div class="top-section clearfix">
                    {% if user.is_online() %}
                        <div class="status">
                            <span class="online-bubble"></span>
                            <span class="status-code">Online</span>
                        </div>
                    {% endif %}
                    {% if not user.is_online() %}
                        <div class="status">
                            <span class="offline-bubble"></span>
                            <span class="status-code">Offline</span>
                        </div>
                    {% endif %}

                </div>
                <a href="{{ url_for('user_details', userid=user.urid) }}" class="img-section" style="background-image:url('{{ user.get_avatar() }}')">

                </a>
                <div class="info-section">
                    <a href=""><div class="name">{{ user }}</div></a>
                    {% if user.location %}
                        <div class="location">{{ user.location }}</div>
                    {% endif %}
                    {% if user.proximity(current_user.coordinates) %}
                        <div class="distance">
                            <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <span class="value">{{ user.proximity_text(current_user.coordinates) }}</span>
                        </div>
                    {% endif %}
                </div>

            </li>
            {% endfor %}
        </ul>
      </div>
      <!-- End of tab section for unread chat -->

    </div>
  </div>

</section>
{% endblock %}
