{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">My Photos</span>
</div>
{% endblock %}
{% block pageTitle %}My Pictures{% endblock %}

{% block title %}My Pictures{% endblock %}

{% block body %}
    <!-- <a href="{{ url_for('upload_picture') }}">Upload Picture</a>
    <hr/>
    {% if current_user.photocount == 0 %}
        You have no pictures...
    {% else %}
        <ul>
            {% for pic in current_user.photos %}
                <li><a href="{{ url_for('view_picture', picid=pic.urid) }}">{{ pic.description }}</a></li>
                <li>Date added: {{ pic.date_uploaded }}</li>
                <li>{{ pic.like_count }} Like(s) & {{ pic.comment_count }} Comment(s)</li>
                <br/>
            {% endfor %}
        </ul>
    {% endif %} -->
    <div id="myphoto">
        <div class="header clearfix">
            <span class="count">You have <span class="d-count">{{ current_user.photocount }}</span> picture(s)</span>
            <span class="upload"><a href="{{ url_for('upload_picture') }}"><i class="fa fa-plus" aria-hidden="true"></i> Add New</a></span>
        </div>
        <div class="images-wrap">
            <ul>
                {% for pic in current_user.photos %}
                    <li style="background-image: url('{{ url_for('static', filename='uploads/images/'+pic.owner.urid+'/'+pic.filename) }}')">
                        <div class="overlay">
                            <a href="{{ url_for('view_picture', picid=pic.urid) }}">
                                <a class="comment" href=""><i class="fa fa-comment" aria-hidden="true"></i> {{ pic.comment_count }}</a>
                                <a class="likes" href=""><i class="fa fa-thumbs-up" aria-hidden="true"></i>{{ pic.like_count }}</a>
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
