{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">People Near You</span>
</div>
{% endblock %}
{% block pageTitle %}People Near You{% endblock %}

{% block title %}People Near You{% endblock %}

{% block body %}
<div id="nearYou">
    <ul class="near-you clearfix">
        {% for user in users %}
        <li class="animated nearYou-wrapper">
            <div class="top-section clearfix">
            {% if user.is_online() %}
                <div class="status">
                    <span class="online-bubble"></span>
                    <span class="status-code">Online</span>
                </div>
            {% endif %}
            {% if not user.is_online() %}
                <div class="status">
                    <span class="offline-bubble"></span>
                    <span class="status-code">Offline</span>
                </div>
            {% endif %}

            </div>
            <a href="{{ url_for('user_details', userid=user.urid) }}" class="img-section" style="background-image:url('{{user.get_avatar()}}')">

            </a>
            <div class="info-section">
                <a href="{{ url_for('user_details', userid=user.urid) }}"><div class="name">{{ user }}</div></a>
                {% if user.location %}
                    <div class="location">{{ user.location }}</div>
                {%  endif %}
                {% if user.proximity(current_user.coordinates) %}
                    <div class="distance">
                        <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span class="value">{{ user.proximity_text(current_user.coordinates) }}</span>
                    </div>
                {% endif %}
            </div>

        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footerscripts %}
    <script>
      $(document).ready(function() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(savePosition);
          }
      });

      function savePosition(position){
            // send position to Python
            var data = {'longitude': position.coords.longitude, 'latitude': position.coords.latitude};

            $.post('{{ url_for('save_location') }}', data, function(response){});
        }
    </script>
{% endblock %}
