<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icheck-1.x/skins/all.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel/owl-carousel/owl.carousel.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel/owl-carousel/owl.transitions.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap-datepicker/css/bootstrap-datepicker.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.rippleria.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font/font.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/spinkit.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/elementTransitions.css') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
        <title>{% block pageTitle %}{% endblock %}</title>      
    </head>
    <body class="signUp">
        <div class="loading-animation">
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
        </div>

        <div>
        <form action="{{ request.path }}" method="post">
            <ul class="payment-wizard">
                <li class="active">
                    <div class="wizard-heading">
                        Personal Information
                        <span class="icon-location"><i class="fa fa-info" aria-hidden="true"></i></span>
                    </div>
                    <div class="wizard-content">
                        <label>
                            {{ form.fullname(type='text', required=true) }}
                            <div class="label-text">Name</div>
                        </label>
                        <label>
                            {{ form.email(type='email', required=true) }}
                            <div class="label-text">Email</div>
                        </label>
                        <label>
                            {{ form.password(type='password', required=true) }}
                            <div class="label-text">Password</div>
                        </label>
                        <label>
                            {{ form.dob(type='text', class_='datepicker', required=true) }}
                            <div class="label-text">Date Of Birth</div>
                        </label>
                        <div class="next-btn done" data-rippleria>Next</div>
                    </div>
                </li>
                <li>
                    <div class="wizard-heading">
                        Gender and Interest
                        <span class="icon-user"><i class="fa fa-transgender" aria-hidden="true"></i></span>
                    </div>
                    <div class="wizard-content">
                        <label>
                            {{ form.gender() }}
                            <div class="label-text">I'm a</div>
                        </label>
                        <label>
                            {{ form.int_gender() }}
                            <div class="label-text">I'm interested in</div>
                        </label>
                        <label>
                            {{ form.interested_in() }}
                            <div class="label-text">I'm here to</div>
                        </label>
                        <div class="next-btn done" data-rippleria>Next</div>
                    </div>
                </li>
                <li>
                    <div class="wizard-heading">
                        Location
                        <span class="icon-summary"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                    </div>
                    <div class="wizard-content">
                        <label>
                            {{ form.country() }}
                            <div class="label-text">Select Country</div>
                        </label>
                        <label>
                            {{ form.state() }}
                            <div class="label-text">Select State</div>
                        </label>
                        <div class="next-btn done" data-rippleria>Next</div>
                    </div>
                </li>
                <li>
                    <div class="wizard-heading">
                        Phone Number
                        <span class="icon-mode"><i class="fa fa-phone" aria-hidden="true"></i></span>
                    </div>
                    <div class="wizard-content">
                        <p>
                            Thanks! To confirm your account we need to send you a free text message containing a link. Please enter your cell phone number below.
                        </p>
                        <label>
                            {{ form.phone(required=true) }}
                            <div class="label-text">Phone Number</div>
                        </label>
                        <button data-rippleria type="submit" class="next-btn submit" type="submit">Sign Up</button>
                    </div>
                </li>
            </ul> 
        </form>  
        </div>





        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-1.11.3.min.js') }}"></script>
        
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.uploadPreview.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.rippleria.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='css/icheck-1.x/icheck.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='css/owl.carousel/owl-carousel/owl.carousel.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sly.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/TweenMax.min.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular-animate.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular-ui-router.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/general.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/elementTransitions.js') }}"></script>
        <script type="text/javascript" defer src="{{ url_for('static', filename='js/material.min.js') }}"></script>
        {% if current_user.is_authenticated %}
        <!-- Onesignal -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/OneSignalSDK.js') }}" async="async"></script>
          <script>

            var OneSignal = OneSignal || [];
            OneSignal.push(["init", {
              appId: "3cfddd11-a2d6-48c6-aabb-53ac7458375c",
              autoRegister: false, /* Set to true to automatically prompt visitors */
              subdomainName: 'Kliq',
              notifyButton: {
                  enable: false /* Set to false to hide */
              }
            }]);

            OneSignal.push(function() {
                // If we're on an unsupported browser, do nothing
                if (!OneSignal.isPushNotificationsSupported()) {
                    return;
                }
                OneSignal.isPushNotificationsEnabled(function(isEnabled) {
                    if (isEnabled) {
                        // The user is subscribed to notifications
                        // Don't show anything
                    } else {
                        OneSignal.sendTag('userid', "{{ current_user.id }}", function(){});
                        OneSignal.registerForPushNotifications();
                    }
                });
            });
          </script>
        {% endif %}
        {% block footerscripts %} {% endblock %}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        <script>
            $(window).load(function() {
                // Animate loader off screen
                $(".loading-animation").addClass("hide");
              });
        </script>
    </body>
</html>
