{% extends "./layout.html" %}

{% block pageTitle %}{{ user }}'s Pictures{% endblock %}

{% block title %}{{ user }}'s Pictures{% endblock %}

{% block body %}
    {% if user.photocount == 0 %}
        {{ user }} has no pictures...
    {% else %}
        <hr/>
        <ul>
            {% for pic in user.photos %}
                <li><a href="{{ url_for('view_picture', picid=pic.urid) }}">{{ pic.description }}</a></li>
                <li>Date added: {{ pic.date_uploaded }}</li>
                <li>{{ pic.like_count }} Like(s) & {{ pic.comment_count }} Comment(s)</li>
                <br/>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}