{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">Edit</span>
</div>
{% endblock %}
{% block pageTitle %}Edit profile{% endblock %}

{% block title %}Edit profile{% endblock %}

{% block navBtn %}
<div class="back"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
{% endblock %}

{% block body %}

  <div id="edit-profile">
      <div class="form-wrap">
        <div class="title">Profile Edit</div>
        <div class="caption">Edit your profile to stand a chance of getting more kliqs. This can increase your chances of being noticed greatly.</div>
        <form action="{{ request.path }}" method="post" class="clearfix profile-edit">
          <div class="material-form-wrap">
            <div class="form-group">
                <label class="control-label" for="about_me">About Me</label>
                {{ form.about_me(class_="form-control", id="about_me") }}
            </div>
            <div class="form-group">
                <label class="control-label" for="state_of_origin">State of Origin</label>
                {{ form.state_of_origin(class_="form-control", id="state_of_origin") }}
            </div>
            <div class="form-group">
                <label class="control-label" for="occupation">Occupation</label>
                {{ form.occupation(class_="form-control", id="occupation") }}
            </div>
            <div class="form-group">
                <label class="control-label" for="kids">Kids?</label>
                {{ form.kids(class_="form-control", id="kids") }}
            </div>
            <div class="form-group">
                <label class="control-label" for="smoking">Smoking?</label>
                {{ form.smoking(class_="form-control", id="smoking") }}
            </div>
            <div class="form-group">
                <label class="control-label" for="drinking">Drinking</label>
                {{ form.drinking(class_="form-control", id="drinking") }}
            </div>
            <div class="form-group">
                <label class="control-label" for="complexion">Complexion</label>
                {{ form.complexion(class_="form-control", id="complexion") }}
            </div>
            <div class="form-group">
                <label class="control-label" for="school">School</label>
                {{ form.school(class_="form-control", id="school") }}
            </div>
            <div class="form-group">
                <label class="control-label" for="highest_degree">Highest Degree</label>
                {{ form.highest_degree(class_="form-control", id="highest_degree") }}
            </div>


            <div class="interest">
            <div class="interest-title">Select Interests</div>
              {% for interest in interests %}
              <div class="interest-wrap">
                <input name="interests" type="checkbox" id="{{ interest }}" value="{{ interest.id }}"
                {% if interest.id in myinterests %}
                    checked="true"
                {% endif %}
                >
                <label for="{{ interest }}"><i class="fa {{ interest.get_picture }}" aria-hidden="true"></i>{{ interest }}</label>
              </div>
              {% endfor %}
            </div>
          </div>
<<<<<<< HEAD
          <button data-rippleria type="submit">Update</button>
=======
          <div class="btn-wrap">
              <button data-rippleria type="submit">Update</button>
          </div>
>>>>>>> c51c88dbec72eb139fd8fe896d7c215e1f0db678
        </form>
      </div>
  </div>

{% endblock %}
