{% extends "./layout.html" %}

{% block pageTitle %}{{ user }}{% endblock %}

{% block title %}{{ user }}{% endblock %}

{% block body %}
   <div class="profile_image">
        <div class="image_holder">
            placeholder
        </div>
        <a href={{ url_for('myprofile') }}>More pictures</a><br/>
        <a href={{ url_for('myprofile') }}>Like {{ user }}'s profile</a><br/>
        <a href={{ url_for('myprofile') }}>Rate {{ user }}</a><br/>
        <a href="{{ url_for('send_message',userid=user.urid) }}">Send Message</a><br/>
        <a href={{ url_for('myprofile') }}>Send Gift</a><br/>
   </div>
   <div class="profile_body">
        <h2>{{ user }}</h2>
        <hr/>
        Gender: {{ user.gender }}<br/>
        Age: {{ user.age }}<br/>
        Location: {{ user.current_location }}<br/>
   </div>


{% endblock %}