{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">Profile Visit</span>
</div>
{% endblock %}
{% block pageTitle %}Profile Visitors{% endblock %}

{% block title %}Profile Visitors{% endblock %}

{% block body %}
<div id="nearYou">
    <ul class="near-you-bubble clearfix">
        {% for p in pvisits %}
            <li>
                <div style="background-image:url('{{p.guest.get_avatar()}}')" class="image">
                    {% if p.guest.is_online() %}<div class="status online">Online</div>
                    {% else %}<div class="status ofline">offline</div>{% endif %}
                </div>
                <div class="content">
                    <div class="name">{{ p.guest }}</div>
                    <div class="last-seen">{{ p.date_visited_text() }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block footerscripts %}
    <script>
      $(document).ready(function() {
          if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(savePosition);
          }
      });

      function savePosition(position){
            // send position to Python
            var data = {'longitude': position.coords.longitude, 'latitude': position.coords.latitude};

            $.post('{{ url_for('save_location') }}', data, function(response){});
        }
      </script>
{% endblock %}
