{% extends "./layout.html" %}

{% block pageTitle %}Report a Comment{% endblock %}

{% block title %}Report a Comment{% endblock %}

{% block body %}
    <h3>Report a Comment</h3>
    <div class="well">
        <h4>Comment by {{ com.commentor }}</h4><br/>
        {{ com.comment }}
    </div>
    <form action="{{ request.path }}" method="post">
        {{ form.report(placeholder="Why do you want to report this comment?", rows=7, columns=25, default="") }}<br>
        <p><input type="submit" value="Report Comment">
    </form>
{% endblock %}