{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">Settings</span>
</div>
{% endblock %}
{% block pageTitle %}Settings{% endblock %}

{% block title %}Settings{% endblock %}

{% block body %}

  <div id="profile">
    <div class="head-section" style="background-image:url('{{ current_user.get_avatar() }}')">
          <div class="overlay"></div>
          <div class="avata" style="background-image:url('{{ current_user.get_avatar() }}')"></div>
    </div>
    <div class="info-section">
      <div class="name">{{ current_user }}</div>
      <div class="location">{{ current_user.location }}</div>
      <a class="edit-image" href="{{url_for('.upload_avatar')}}">Change Profile Image</a>
    </div>
    <div class="link-section">
      <ul>
        <li>
          <a href="{{url_for('.profile_edit')}}" class="clearfix">
            <span class="icon"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
            <span class="text">Edit Profile</span>
            <span class="right-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="{{url_for('.change_password')}}" class="clearfix">
            <span class="icon"><i class="fa fa-lock" aria-hidden="true"></i></span>
            <span class="text">Change Password</span>
            <span class="right-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="{{url_for('.unblock_users')}}" class="clearfix">
            <span class="icon"><i class="fa fa-ban" aria-hidden="true"></i></span>
            <span class="text">Unblock Users</span>
            <span class="right-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          </a>
        </li>
        <li>
          <a href="{{url_for('.logout')}}" class="clearfix">
            <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
            <span class="text">LogOut</span>
            <span class="right-icon"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
