{% extends "./layout.html" %}

{% block pageTitle %}Signup{% endblock %}

{% block title %}Signup{% endblock %}

{% block body %}
    <div class="signup-wrap">
		<div class="caption">Sign Up</div>
		<div class="form-wrap">
            <form action="{{ request.path }}" method="post">
                {{ form.fullname(type="text", placeholder="Full Name") }}
                {{ form.dob(type="text", placeholder="Date of Birth", class_="datepicker") }}
                {{ form.email(type="email", placeholder="Email") }}
                {{ form.phone(type="phone", placeholder="Phone Number") }}
                {{ form.password(class_="password", type="password", placeholder="Password") }}
                <div class="radio-btn clearfix">
					<span class="title">I am</span>
                    {% for subfield in form.gender %}
					<div class="input-wrap">
                        <input class="custom-input" type="radio" name="gender" value="{{ subfield.data }}"><span>{{ subfield.label }}</span>
                    </div>
                    {% endfor %}
				</div>
                <div class="radio-btn clearfix">
					<span class="title">Interested In</span>
					{% for subfield in form.int_gender %}
					<div class="input-wrap">
                        <input class="custom-input" type="radio" name="int_gender" value="{{ subfield.data }}"><span>{{ subfield.label }}</span>
                    </div>
                    {% endfor %}
				</div>
				<button data-rippleria type="submit">Sign Up</button>
				<div class="signup-link">Have an account? <a href="{{url_for('.login')}}">Login</a></div>
            </form>
        </div>
	</div>

{% endblock %}