{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">Blocked Users</span>
</div>
{% endblock %}
{% block pageTitle %}Unblock Users{% endblock %}

{% block title %}Unblock Users{% endblock %}

{% block body %}
    <h3>My Blacklist</h3>
    <hr/>
    {% if current_user.blockedlist.count() == 0 %}
        You have no blocked users...
    {% else %}
        <ul>
            {% for user in current_user.blockedlist %}
                <li>
                    {{ user }} | <a href="{{ url_for('unblock', userid=user.urid) }}">Unblock</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
