{% extends "./layout.html" %}

{% block pageTitle %}Upload Avatar{% endblock %}

{% block title %}Upload Avatar{% endblock %}

{% block body %}
    <div id="upload">
    	<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
			{{ form.csrf_token }}
	        <div id="preview" style="background-image:url('/static/img/img-placeholder.png')">
			  <!-- <label for="image-upload" id="image-label">Choose Image</label> -->
			  <input type="file" name="file" id="image-upload" required />
			</div>
			<button data-rippleria class="upload-btn" type="submit">UPLOAD</button>
	    </form>
    </div>
{% endblock %}