{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name"> Upload Picture</span>
</div>
{% endblock %}
{% block pageTitle %}Upload Your Picture{% endblock %}

{% block title %}Upload Picture{% endblock %}

{% block body %}
    <!-- <form action="{{ request.path }}" method="post" enctype="multipart/form-data">
        {{ form.file.label }}<br> {{ form.file()|safe }}
        {{ form.description.label }}<br> {{ form.description(rows=8, columns=10) }}
        {{ form.csrf_token }}<br>
        <p><input type="submit" value="Upload Picture">
    </form> -->
    <div id="upload">
    	<form action="{{ request.path }}" method="post" enctype="multipart/form-data">
			{{ form.csrf_token }}
	        <div id="preview" style="background-image:url('/static/img/img-placeholder.png')">
			  <!-- <label for="image-upload" id="image-label">Choose Image</label> -->
			  <input type="file" name="file" id="image-upload" required />
			</div>
			<textarea name="description" id="" placeholder="Write a caption" class="caption-field"></textarea>
			<button data-rippleria class="upload-btn" type="submit">UPLOAD</button>
	    </form>
    </div>
{% endblock %}
