{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">Profile</span>
</div>
{% endblock %}
{% block pageTitle %}User Profile{% endblock %}

{% block title %}Profile{% endblock %}

{% block navBtn %}
<div class="back"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
{% endblock %}

{% block body %}
      <section id="index" class="header-height">
        <div class="image-preview">
            <div id="image-preview" class="owl-carousel owl-theme">
                <a href="{{ user.get_avatar() }}" data-lightbox="profile">
                <div class="item" style="background-image: url('{{ user.get_avatar() }}')"></div>
                </a>
              {% for pic in user.photos %}
                  <a href="{{ url_for('static', filename='uploads/images/'+user.urid+'/'+pic.filename) }}" data-lightbox="profile">
                  <div data-lightbox class="item" style="background-image: url('{{ url_for('static', filename='uploads/images/'+user.urid+'/'+pic.filename) }}')"></div>
                  </a>
              {% endfor %}
            </div>
        </div>
      <div class="info-sec clearfix">
      <div class="basic-info">
        <div class="name-wrap clearfix">
          <span class="username">{{ user }}</span>
          <span class="action">
              {% if user.id == current_user.id %}
                <a href="{{ url_for('profile_edit') }}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              {% else %}
                <a href="{{ url_for('send_message', userid=user.urid) }}"><i class="fa fa-comments" aria-hidden="true"></i></a>
              {% endif %}
          </span>
        </div>
        <div class="info-wrap clearfix">
          <div class="age-wrap">
            <span class="caption">AGE</span>
            {% if user.age %}
                <span class="content xtra">{{ user.age }}</span>
            {% endif %}
          </div>
          <div class="edu-wrap">
            <span class="caption">EDUCATION</span>
            <span class="content">{{ user.profile.school }}</span>
          </div>
        </div>

        <div class="location-wrap clearfix">
          <div class="profession-wrap">
            <span class="caption">PROFESSION</span>
            <span class="content">{{ user.profile.occupation }}</span>
          </div>
          <div class="loc-wrap">
            <span class="caption">Location</span>
            {% if user.location %}
            <span class="content">{{user.location}}</span>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="info-section">
        <table class="title-table">
          <tr>
            <td class="icon-wrap"><span><i class="fa fa-adjust" aria-hidden="true"></i></span></td>
            <td class="title-wrap">Profile Completion</td>
          </tr>
        </table>
        <table class="content-table">
          <tr>
            <td class="border"></td>
            <td class="content clearfix" style="height:65px;">
              <input style="display: absolute" type="text" data-width="70" data-fgColor="#01C2D4" data-skin="tron" data-thickness=".2"  data-displayPrevious=true class="dial" value="{{ user.completion or 0 }}" data-linecap=round><span class="pull-right stat-description">
                Profile {{ user.completion  or 0 }}% completed
              </span>
            </td>
          </tr>
        </table>
      </div>

      <div class="info-section">
        <table class="title-table">
          <tr>
            <td class="icon-wrap"><span><i class="fa fa-adjust" aria-hidden="true"></i></span></td>
            <td class="title-wrap">Complexion</td>
          </tr>
        </table>
        <table class="content-table">
          <tr>
            <td class="border"></td>
            <td class="content">
              {{ user.profile.complexion }}
            </td>
          </tr>
        </table>
      </div>

      <div class="info-section">
        <table class="title-table">
          <tr>
            <td class="icon-wrap"><span><i class="fa fa-arrows-v" aria-hidden="true"></i></span></td>
            <td class="title-wrap">Height</td>
          </tr>
        </table>
        <table class="content-table">
          <tr>
            <td class="border"></td>
            <td class="content">
              {{ user.profile.height }}
            </td>
          </tr>
        </table>
      </div>

      <div class="info-section">
        <table class="title-table">
          <tr>
            <td class="icon-wrap"><span><i class="fa fa-child" aria-hidden="true"></i></span></td>
            <td class="title-wrap">Kids</td>
          </tr>
        </table>
        <table class="content-table">
          <tr>
            <td class="border"></td>
            <td class="content">
              {{ user.profile.kids }}
            </td>
          </tr>
        </table>
      </div>

      <div class="info-section">
        <table class="title-table">
          <tr>
            <td class="icon-wrap"><span><i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
            <td class="title-wrap">Smoking?</td>
          </tr>
        </table>
        <table class="content-table">
          <tr>
            <td class="border"></td>
            <td class="content">
              {{ user.profile.smoking }}
            </td>
          </tr>
        </table>
      </div>

      <div class="info-section">
        <table class="title-table">
          <tr>
            <td class="icon-wrap"><span><i class="fa fa-beer" aria-hidden="true"></i></span></td>
            <td class="title-wrap">Drinking?</td>
          </tr>
        </table>
        <table class="content-table">
          <tr>
            <td class="border"></td>
            <td class="content">
              {{ user.profile.drinking }}
            </td>
          </tr>
        </table>
      </div>

      <div class="info-section">
        <table class="title-table">
          <tr>
            <td class="icon-wrap"><span><i class="fa fa-hand-peace-o" aria-hidden="true"></i></span></td>
            <td class="title-wrap">Interest</td>
          </tr>
        </table>
        <table class="content-table">
          <tr>
            <td class="border"></td>
            <td class="content">
              <div class="section-content">
                {% for interest in user.interests %}
                <span class="interest"><i class="fa {{ interest.interest.get_picture }}" aria-hidden="true"></i>{{ interest.interest }}</span>
                {% endfor %}
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
      </section>
{% endblock %}
