{% extends "./layout.html" %}
{% block name %}
<div class="name-wrap">
    <span class="page-name">Photo Review</span>
</div>
{% endblock %}
    {% block pageTitle %}
        {% if pic.owner_id == current_user.id %}
            My Pictures
        {% else %}
            {{ pic.owner }}'s Pictures
        {% endif %}
    {% endblock %}
    {% block title %}
        {% if pic.owner_id == current_user.id %}
            My Pictures
        {% else %}
            {{ pic.owner }}'s Pictures
        {% endif %}
    {% endblock %}

{% block body %}
    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<div id="view_picture">
    <div class="uploaded-img-wrap">
        <div class="img" style="background-image:url('{{ url_for('static', filename='uploads/images/'+pic.owner.urid+'/'+pic.filename) }}')"></div>
        <div class="content">
            <div class="d-caption">{{ pic.description }}</div>
            <div class="social-likes clearfix">
                <div class="likes_wrap">
                    <span class="likes">
                        {% if like > 0 %}
                            <a class="like-thumb" href="{{ url_for('like_picture', urid=pic.urid, picid=pic.id, action=1)}}"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                        {% else %}
                            <a class="unlike-thumb" href="{{ url_for('like_picture', urid=pic.urid, picid=pic.id, action=0)}}"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                        {% endif %}
                        <span class="like-count"> {{ pic.like_count }}</span>
                    </span>
                    <span class="comment-wrap"><i class="fa fa-comment" aria-hidden="true"></i>
                     <a href="javascript:viod(0)">{{ pic.comment_count }}</a></span>
                </div>
                <div class="time-status pull-right">{{ pic.date_uploaded }}</div>
            </div>
        </div>
        <div class="comment-section">
            {% for com in pic.comments %}
            <div class="each-comment clearfix">
                <div class="avata" style="background-image:url('{{ com.commentor.get_avatar() }}')"></div>
                <div class="d-comment clearfix">
                    {% if com.user_id == current_user.id %}
                    <div class="user-name clearfix">
                        <a class="d-user" href="">You</a>
                        <span class="time">{{ com.date_created }}</span>
                    </div>
                    {% else %}
                    <div class="user-name clearfix">
                        <a class="d-user" href="{{ url_for('profile', userid=com.commentor.urid) }}">{{ com.commentor }}</a>
                        <span class="time">{{ com.date_created }}</span>
                    </div>
                    {% endif %}
                    <div class="content">
                        {{ com.comment }}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="action clearfix">
                    <ul>
                    {% if com.user_id == current_user.id or pic.owner_id == current_user.id  %}
                        <li><a href="{{ url_for('delete_comment', comment_id=com.id) }}"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a></li>
                    {% endif %}
                        <li><a href=""><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Report</a></li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            <form action="{{ request.path }}" method="post">
                <div class="comment-form">
                {{ form.comment(placeholder="Add a comment...") }}
                </div>
                <button class="comment-submit" type="submit" value="Submit Comment">Submit</button>
            </form>
        </div>
    </div>
</div>











<!--     <div>
        <img style="border: 1px solid grey" src="{{ url_for('static', filename='uploads/images/'+pic.owner.urid+'/'+pic.filename) }}" width="400px">
    </div>
    <span style="font-weight: bold;">{{ pic.description }}</span><br/>
    <span style="font-style: italic;">{{ pic.date_uploaded }}</span><br/>
    <span>
        {% if like > 0 %}
            <a href="{{ url_for('like_picture', urid=pic.urid, picid=pic.id, action=1)}}">Unlike</a>
        {% else %}
            <a href="{{ url_for('like_picture', urid=pic.urid, picid=pic.id, action=0)}}">Like</a>
        {% endif %}
         | {{ pic.like_count }} Like(s) | {{ pic.comment_count }} Comment(s)
    </span>
    <br/><br/>
    <form action="{{ request.path }}" method="post">
        {{ form.comment(placeholder="Enter your comment...", rows=7, columns=10, default="") }}<br>
        <p><input type="submit" value="Submit Comment">
    </form>
    <hr/>

    {% for com in pic.comments %}
        <div>
            {% if com.user_id == current_user.id %}
                <span style="font-weight: bold">You said:</span>
            {% else %}
                <span style="font-weight: bold"><a href="{{ url_for('profile', userid=com.commentor.urid) }}">{{ com.commentor }}</a> said:</span>
            {% endif %}
            <span style="font-style: italic; float: right; padding-right: 30px;">
                {{ com.date_created }}
                <br/>
                {% if com.user_id == current_user.id or pic.owner_id == current_user.id  %}
                    <a href="{{ url_for('delete_comment', comment_id=com.id) }}">Delete comment</a>
                    <br/>
                {% endif %}
                <a href="{{ url_for('report_comment', comment_id=com.id) }}">Report comment</a>
            </span>
            <br />
            {{ com.comment }}
            <br/><br/>
        </div>
    {% endfor %} -->
{% endblock %}
