// ###################################
//              WorkSans
// ###################################

@font-face {
    font-family: WorkSans;
    src: url('WorkSans-ExtraBold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: WorkSans;
    src: url('WorkSans-Black.otf');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: WorkSans;
    src: url('WorkSans-Bold.otf');
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: WorkSans;
    src: url('WorkSans-SemiBold.otf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: WorkSans;
    src: url('WorkSans-Medium.otf');
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: WorkSans;
    src: url('WorkSans-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: WorkSans;
    src: url('WorkSans-Light.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: WorkSans;
    src: url('WorkSans-ExtraLight.otf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: WorkSans;
    src: url('WorkSans-Thin.otf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: WorkSans;
    src: url('WorkSans-Hairline.otf');
    font-style: normal;
    font-weight: 100;
}



// ###################################
//              Roboto
// ###################################


@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-Black.ttf');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-BlackItalic.ttf');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-BoldItalic.ttf');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-Medium.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-MediumItalic.ttf');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-Italic.ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-Light.ttf');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-LightItalic.ttf');
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-Thin.ttf');
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: roboto;
    src: url('Roboto/Roboto-ThinItalic.ttf');
    font-style: italic;
    font-weight: 100;
}



// ###################################
//         Source_Sans_Pro
// ###################################


@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-Black.ttf');
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-BlackItalic.ttf');
    font-style: italic;
    font-weight: 900;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-Semibold.ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-SemiboldItalic.ttf');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-Regular.ttf');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-Italic.ttf');
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-Light.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-LightItalic.ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-ExtraLight.ttf');
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: Source_Sans_Pro;
    src: url('Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf');
    font-style: italic;
    font-weight: 200;
}

