<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="emails/css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Registration Complete</title>
  </head>
  <body>
    <!-- <style> -->
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">
            <style align="center" class="float-center">
              .background{
                height: 70px;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              }
              .background-text{
                color: #ffffff;
                font
              }
              .logo-img{
                width: 25%!important;
                height: auto;
              }
              .text{
                font-size: 14px;
              }
              .link-color{
                color: #999;
              }
              .text-center{
                text-align: center!important;
              }
              .fotter{
                background-color: #f9f9f9;
                height: auto;
              }
              .fotter-logo{
                width: 50%;
              }
              .footer-text{
                font-size: 12px;
                color: #999;
              }
              .footer-social{
                width: 30px!important;
                height: auto;
              }
            </style>
            <table align="center" class="container float-center"><tbody><tr><td>
              <!-- Header-section  -->
              <table class="row"><tbody><tr>
                    <th class="background small-12 large-12 columns first last" style="background-image:url('https://s25.postimg.org/69fwm33fz/roses.jpg')">
      <table>
        <tr>
          <th>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>

              <table class="row"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <center data-parsed="">
                    <img src="https://s25.postimg.org/5vekmhjcf/kliq.png" class="logo-img float-center" alt="logo" align="center">
                  </center>
                  <table class="spacer"><tbody><tr><td height="10px" style="font-size:10px;line-height:10px;">&#xA0;</td></tr></tbody></table>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
      </tr></tbody></table>
      <!-- End of header-section  -->

        {% block email %} {% endblock %}

    <!-- Fotter-section  -->
              <table class="spacer"><tbody><tr><td height="40px" style="font-size:40px;line-height:40px;">&#xA0;</td></tr></tbody></table>
              <table class="row fotter"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <table class="spacer"><tbody><tr><td height="20px" style="font-size:20px;line-height:20px;">&#xA0;</td></tr></tbody></table>
                  <center data-parsed="">
                    <table align="center" class="menu small-horizontal text-center float-center"><tr><td><table><tr>
                      <th class="menu-item footer-text float-center"><a href="">Privacy Policy</a></th>
                      <th class="menu-item footer-text float-center"><a href="{{ url_for('unsubscribe', _external=True, userid=user.userid) }}">Unsubscribe</a></th>
                    </tr></table></td></tr></table>
                  </center>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
              <table class="row fotter"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <center data-parsed="">
                    <p class="text-center footer-text float-center" align="center">
                      This message was sent to <a mailto="{{ user.email }}>{{ user.email }}</a> . If you don't want to receive these emails from Kliq in the future, please <a href="{{ url_for('unsubscribe', _external=True, userid=user.userid) }}">unsubscribe</a>.
                    </p>
                  </center>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
              <table class="row fotter"><tbody><tr>
                    <th class="small-12 large-12 columns first last">
      <table>
        <tr>
          <th>
                  <center data-parsed="">
                    <table align="center" class="menu text-center float-center"><tr><td><table><tr>
                      <th class="menu-item float-center"><a href=""><img class="footer-social float-center" src="https://s25.postimg.org/huq2tsoxb/facebook.png" alt=""></a></th>
                      <th class="menu-item float-center"><a href=""><img class="footer-social float-center" src="https://s25.postimg.org/m54qpdu0f/instagram.png" alt=""></a></th>
                      <th class="menu-item float-center"><a href=""><img class="footer-social float-center" src="https://s25.postimg.org/lw75zgh7z/twitter.png" alt=""></a></th>
                      <th class="menu-item float-center"><a href=""><img class="footer-social float-center" src="https://s25.postimg.org/lkppmp0rz/youtube.png" alt=""></a></th>
                    </tr></table></td></tr></table>
                  </center>
                </th>
<th class="expander"></th>
        </tr>
      </table>
    </th>
              </tr></tbody></table>
              <!-- End of fotter-section  -->
            </td></tr></tbody></table>

          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
   <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>


