<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icheck-1.x/skins/all.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel/owl-carousel/owl.carousel.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel/owl-carousel/owl.transitions.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap-datepicker/css/bootstrap-datepicker.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.rippleria.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font/font.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/general.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/spinkit.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.emojiarea.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fontello/css/fontello.css') }}" />
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}" /> -->
        <title>{% block pageTitle %}{% endblock %}</title>
    </head>
    <body ng-app="myApp" ng-controler="globalController">
        <!-- <div class="loading-animation">
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
        </div> -->
        <!--<h2>{% block title %} {% endblock %}:</h2>-->
        {% if current_user.is_authenticated %}
        <nav>
          <div class="side-nav">
            <div class="navHead clearfix">
                <a class="messages" href="{{ url_for('messages') }}"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                <span class="msg_notice bubble" {% if current_user.unread_count <= 0 %} style="display: none;" {% endif %}>
                        {{ current_user.unread_count }}
                </span>
                </a>
                <a class="settings" href="{{ url_for('settings') }}"><i class="fa fa-gear" aria-hidden="true"></i></a>

                <a class="profile-image-wrap" href="{{url_for('.upload_avatar')}}">
                    <div class="profile-image" style="background-image: url('{{ current_user.get_avatar() }}')">
                    </div>
                </a>

            </div>

            <div class="profile">
                <div class="name"><a href={{ url_for('myprofile') }}>{{ current_user }}</a></div>
                {% if current_user.location != None %}
                    <div class="location">
                        <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span class="local">
                            {{ current_user.location }}
                        </span>
                    </div>
                {% endif %}
            </div>
            <ul>
                <li data-rippleria class="clearfix">
                    <a href="{{ url_for('home') }}">
                        <span class="icon"><i class="fa fa-heart" aria-hidden="true"></i></span>
                        <span class="link-name">Kliq</span>
                    </a>
                </li>

                <li data-rippleria class="clearfix">
                    <a href="{{ url_for('nearby') }}">
                        <span class="icon"><i class="fa fa-group" aria-hidden="true"></i></span>
                        <span class="link-name">People near you</span>
                    </a>
                </li>

                <li data-rippleria class="clearfix">
                    <a href="{{ url_for('messages') }}">
                        <span class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
                        <span class="link-name">Messages</span>
                        <span class="msg_notice count" {% if current_user.unread_count <= 0 %} style="display:none;" {% endif %}>
                                {{ current_user.unread_count }}
                        </span>
                    </a>
                </li>

                <li data-rippleria class="clearfix">
                    <a href="{{ url_for('profile_visitors') }}">
                        <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                        <span class="link-name">Profile Visitors</span>
                        <span class="visit_notice count" {% if current_user.new_visits_count <= 0 %} style="display:none;" {% endif %}>
                            {{ current_user.new_visits_count }}
                        </span>
                    </a>
                </li>

                <li data-rippleria class="clearfix">
                    <a href="{{ url_for('mutual_likes') }}">
                        <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span class="link-name">Mutual Likes</span>
                        <span class="like_notice count" {% if current_user.new_like_count <= 0 %} style="display:none;" {% endif %}>
                            {{ current_user.new_like_count }}
                        </span>
                    </a>
                </li>

                <li data-rippleria class="clearfix">
                    <a href="{{ url_for('myphotos') }}">
                        <span class="icon"><i class="fa fa-camera" aria-hidden="true"></i></span>
                        <span class="link-name">My Pictures</span>
                    </a>
                </li>

            </ul>

          </div>
        <button data-rippleria class="logout">
            <a href="{{ url_for('logout') }}">Logout</a>
        </button>
        </nav>
        {% endif %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="animated fadeInDown clearfix">
                            {% if category == 'success' %}
                                <span class="icon"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
                            {% else %}
                                <span class="icon"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
                            {% endif %}
                            <span class="message">{{ message }}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <div class="wrapper">
            {% if current_user.is_authenticated %}
                {% block header %}
                    <header>

                        {% block navBtn %}
                        <div class="openNav"><i class="fa fa-bars" aria-hidden="true"></i></div>
                        {% endblock %}

                        {% block name %}{% endblock %}

                        {% block searchBtn %}
                        <!--<div class="message"><i class="fa fa-search" aria-hidden="true"></i></div>-->
                        {% endblock %}

                    </header>
                {% endblock %}
            {% endif %}

            <div class="main-wrap">
                {% block body %}{% endblock %}
            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/jquery-1.11.3.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.uploadPreview.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.knob.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.backstretch.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.rippleria.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='css/icheck-1.x/icheck.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='css/owl.carousel/owl-carousel/owl.carousel.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script>

        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/sly.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/TweenMax.min.js') }}"></script>
        <!--<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular-animate.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/angularjs/angular-ui-router.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/controllers/general.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.emojiarea.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/packs/basic/emojis.js') }}"></script>

        {% if current_user.is_authenticated %}
        <!-- in app notifications -->
        <script type="text/javascript">
            $(document).ready(function() {
                //instantiate server
                var notify = new WebSocket("ws://" + window.location.host + "/notification/{{ current_user.urid }}");

                //listen for new messages
                notify.onmessage = function (evt) {

                   var message = JSON.parse(evt.data);
                   var update;
                   if(message.msgtype == "msg"){
                        update = $(".msg_notice");
                   }
                   else if(message.msgtype == "visit"){
                        update = $(".visit_notice");
                   }
                   else if(message.msgtype == "like"){
                        update = $(".like_notice");
                   }

                   update.each(function(){
                      $(this).text(parseInt(message.payload) + parseInt($(this).text()));
                      $(this).show();
                   });
                };

                notify.onerror=function (evt) {console.log(evt);}

                $(window).on('beforeunload', function(){
                    notify.close();
                });
            })
        </script>
        <!-- Onesignal -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/OneSignalSDK.js') }}" async="async"></script>
          <script>
            var OneSignal = OneSignal || [];
            OneSignal.push(["init", {
              appId: "3cfddd11-a2d6-48c6-aabb-53ac7458375c",
              autoRegister: false, /* Set to true to automatically prompt visitors */
              subdomainName: 'Kliq',
              notifyButton: {
                  enable: false /* Set to false to hide */
              }
            }]);

            OneSignal.push(function() {
                // If we're on an unsupported browser, do nothing
                if (!OneSignal.isPushNotificationsSupported()) {
                    return;
                }
                OneSignal.isPushNotificationsEnabled(function(isEnabled) {
                    if (isEnabled) {
                        // The user is subscribed to notifications
                        // Don't show anything
                    } else {
                        OneSignal.sendTag('userid', "{{ current_user.id }}", function(){});
                        OneSignal.registerForPushNotifications();
                    }
                });
            });
          </script>
        {% endif %}
        {% block footerscripts %} {% endblock %}
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        <script>
            $(window).load(function() {
                // Animate loader off screen
                $(".loading-animation").addClass("hide");
              });

            $('.datepicker').datepicker();

        </script>
    </body>
</html>
